
/* FONT */
@font-face {
	font-family: "OpenSans";
	src: url("../font/open-sans/OpenSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../font/open-sans/OpenSans-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../font/open-sans/OpenSans-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "OpenSans";
	src: url("../font/open-sans/OpenSans-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Oswald";
	src: url("../font/oswald/oswald-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Oswald";
	src: url("../font/oswald/oswald-bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}





/* TRIVIALS */ 

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	color: #000;
	background-color: #e5f6fd;
	font-size: 16px;
	font-family: "OpenSans", "Helvetica Neue", "Helvetica", sans-serif;
	line-height: 1.42857143em;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family: "Oswald", sans-serif;
	font-weight: bold;
	color: #00466e;
}

h1, h2 {
	margin: 0;
}

h3, h4 {
	margin-top: 1rem;
	margin-bottom: 0.25rem;
}

h1 {
	margin-bottom: 1rem;
	text-align: center;
	font-size: 320%;
	line-height: 1.3;
}

h2 {
	margin-bottom: 0.5rem;
	font-size: 200%;
	line-height: 1.3;
}

h3 {
	font-size: 140%;
	line-height: 1.3;
}

h4 {
	font-size: 120%;
	line-height: 1.3;
}

h5 {
	font-size: 110%;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0;
}

p {
	line-height: 1.42857143em;
	margin-top: 0.25rem;
	margin-bottom: 1rem;

}

p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 0;
}

p > a {
	color: #00a5eb;
	border-bottom: 1px solid rgba(0, 165, 235, 0);
	-webkit-transition: color 0.3s ease, border-bottom 0.3s ease;
	transition: color 0.3s ease, border-bottom 0.3s ease;
}

p > a:hover,
p > a:focus {
	color: inherit;
	border-bottom: 1px solid rgba(0, 165, 235, 1);
}

a {
	text-decoration: none;
}

hr {
	height: 2px;
	width: 70px;
	margin: 1.5em auto;
	background-color: #c80000;
	border: none;
}





/* SEMANTICS */

header,
footer {
	position: relative;
	color: #fff;
	text-align: center;
	overflow: hidden;
}




header > div {
	display: inline-block;
	padding: 1rem;
	background-color: rgba(255,255,255,0.95);
	border-radius: 2px;
}
header > img {
	width: 100%;
}
header h1 {
	margin-bottom: 0;
}

footer {
	padding: 0.5rem;
	font-size: 85%;
	background-color: #00466e;
	border-top: 3px solid #fff;
}

footer a {
	color: inherit;
}

footer ul {
	list-style: none;
}

footer li {
	display: inline;
	margin: 0;
	padding: 0;
}

footer li + li::before {
	content: "| ";
}

nav {
	margin: 0;
	padding: 10px 0;
	background-color: #fff;
	border-bottom: 6px solid #c80000;
}

nav > ul {
	justify-content: flex-end !important;
	margin: 0 10px;
	font-size: 120%;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	list-style-type: none;
}

nav > ul > li {
	color: #00466e;
	cursor: pointer;
	border-radius: 2px;
}

nav > ul > li > a {
	display: block;
	padding: 1.5rem 2.5rem;
	color: inherit;
}

nav > ul > li.active {
	color: #fff;
	background-color: #c80000;
}

nav > ul > li:hover {
	background-color: #00466e;
}

nav > ul > li:hover > a {
	color: #fff;
}

nav > .row > * {
	width: auto;
	padding: 0;
}

main {

}

section {
	position: relative;
	padding: 5rem 1rem 2rem;
}

section:first-of-type {
	padding-top: 2rem;
}

@media screen and (min-width: 768px) {
	.container,.block,
	nav > ul {
		margin-left: 20px;
		margin-right: 20px;
	}
	section {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

}

@media screen and (min-width: 992px) {
	.container,.block,
	nav > ul {
		margin-left: 10%;
		margin-right: 10%;
	}
	section {
		padding: 6rem 3rem 3rem;
	}
	section:first-of-type {
		padding-top: 3rem;
	}
}

@media screen and (min-width: 1200px) {
	.container,.block,
	nav > ul {
		margin-left: 15%;
		margin-right: 15%;
	}
	section {
		padding: 4rem 4rem 4rem;
	}
	section:first-of-type {
		padding-top: 4rem;
	}
}

section:nth-child(even) {
	background-color: #FFF;
}

section:nth-child(odd) {
	background-color: #EEE;
}

section.dark {
	padding: 1em;
}

section.dark .btn {
	padding: 1em;
}

section + section:not(.dark)::before {
	position: absolute;
	display: block;
	top: 0px;
	left: 50%;
	-ms-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	content: "";
	width: 0;
	height: 0;
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
}

section:nth-child(even):not(.dark) + section::before {

}

section:nth-child(odd):not(.dark) + section::before {
	border-top: 40px solid #EEE;
}

abbr {
	cursor: help;
}

strong,
strong > a {
	color: #c80000;
}





/* LAYOUT */

.row {
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.column {
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

.align-left {
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.row-space > *:first-of-type {
	margin-left: 0;
}

.row > .weight25 {
	width: 25%;
}

.row > .weight75 {
	width: 75%;
}

.row-space > .weight75 {
	width: calc(75% - 1em);
}

.weight75 + .weight25 {
	margin-left: 1em;
}

.weight25 + .weight75 {
	margin-left: 1em;
}

div.center,
a.center,
header.center {
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.bottom {
	margin-top: auto !important;
}

.shrunk {
	width: 100%;
	max-width: 700px;
	margin: 2rem auto;
}

.row > .column {
	padding: 15px;
}

form .row > * {
	padding: 0;
}
@media screen and (max-width: 768px) {
	.row > .column {
		padding: 15px;
		width: 100%;
	}
	#zitate .avtxt {
		width: 75%!important;
	}
	#zitate li:nth-child(even) {

		margin-left: 0!important;

	}
}
@media screen and (min-width: 768px) {
	.row > * {
		width: 50%;
	}
	.row-space > * {
		width: calc(50% - 0.5em);
	}
	.row-space > *:nth-child(even) {
		margin-left: 1em;
	}

}

@media screen and (min-width: 992px) {
	.items3 > * {
		width: 33.33%;
	}
	.items3.row-space > * {
		width: calc(33.33% - 0.67em);
		margin-left: 1em;
	}
	.items3.row-space > *:nth-child(3n-2) {
		margin-left: 0;
	}
}

@media screen and (min-width: 1200px) {
	.items4 > * {
		width: 25%;
	}
	.items4.row-space > * {
		width: calc(25% - 0.75em);
		margin-left: 1em;
	}
	.items4.row-space > *:nth-child(4n-3) {
		margin-left: 0;
	}
	#topics .row > .column:first-child {
		padding: 15px 15px 15px 0;
	}
	#topics .row > .column:nth-child(3n+4) {
		padding: 15px 15px 15px 0;
	}

}





/* FORMS */

input {
	font-family: inherit;
	font-size: 90%;
	margin-bottom: 8px;
}

input[type="text"],
input[type="email"] {
	padding: .5rem;
	background-color: #fff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1) inset, 0 0 4px 0 rgba(0, 0, 0, 0.1) inset;
	border: 1px solid rgba(31, 31, 31, 0.4);
	border-radius: 2px;
	-webkit-transition: background-color .3s ease, box-shadow .3s ease;
	transition: background-color .3s ease, box-shadow .3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus {
	border-color: rgba(200, 0, 0, 1);
	box-shadow: 0 0 4px 0 rgba(200, 0, 0, .1) inset, 0 0 4px 0 rgba(200, 0, 0, .1) inset;
}

input[type="checkbox"] {
	position: relative;
	top: -1px;
	width: 13px;
	height: 13px;
	margin: 0 8px 0 0;
	padding: 0;
	vertical-align: bottom;		
}

input.stick {
	width: auto;
	margin: .5rem .5rem .5rem auto;
}

label {
	display: block;
	font-size: 80%;
	text-transform: uppercase;
}

label[for] {
	cursor: pointer;
}

label.space {
	margin: 0.6em 0 1em;
	padding-left: 15px;
	text-indent: -15px;
}

.btn {
	position: relative;
	display: block;
	z-index: 1;
	cursor: pointer;
	overflow: hidden;
	width: 300px;
	max-width: 98%;
	margin: 0.5rem auto;
	padding: .8rem;
	color: rgba(31, 31, 31, 0.7);
	font-family: inherit;
	font-size: 100%;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, .1);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1) inset, 0 0 4px 0 rgba(0, 0, 0, .1) inset;
	border: none;
	border-radius: 8px;
	-webkit-transition: color .3s ease;
	transition: .3s ease;
}

.btn.btn-default {
	background: rgba(200, 0, 0, 1);
	color: #fff;
}

.btn:hover {
	color: #fff;
	background:#449d44;
}



.btn.stick {
	width: auto;
	margin-left: 0;
}

#filter {
	margin: 3rem 0;
}

.btn-group {
	margin: 1rem auto;
}

.btn-group > label {
	display: block;
	width: auto;
	padding: 0.4rem 0.6rem;
	cursor: pointer;
	color: #00466e;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #00466e;
	-webkit-transition: background-color .3s ease, color .3s ease, box-shadow .3s ease;
	transition: background-color .3s ease, color .3s ease, box-shadow .3s ease;
}

.btn-group > label:hover,
.btn-group > input[type="checkbox"]:checked + label {
	color: #fff;
	background-color: #00466e;
}

.btn-group > label + input + label {
	border-left: none;
}

.btn-group > label:first-of-type {
	border-radius: 2px 0 0 2px;
}

.btn-group > label:last-of-type {
	border-radius: 0 2px 2px 0;
}

.btn-group > input[type="checkbox"] {
	display: none;
}

.textarea {
	overflow-y: scroll;
	max-height: 250px;
	padding: 0.4rem;
	margin: 2rem auto;
	font-family: "Courier New", Courier, serif;
	font-size: 18px;
	background-color: #fff;
	border: 1px solid #00466e;
	border-radius: 2px;
}

.textarea p {
	text-align: left;
}

#email-senden .textarea {
	color: #777777;
}




/* OTHER */

.hidden {
	display: none !important;
	margin: 0 !important;
}

.invisible {
	width: 0px !important;
	opacity: 0 !important;
	filter: Alpha(opacity=0) !important;
}

.noselect {
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}

p.center,
div.center > p,
.centertext {
	text-align: center;
}

.centertext p {
	text-align: inherit;
}

.small {
	font-size: 80%;
}

.indent {
	margin-top: 2em;
}

#topics .fa,
#call .fa {
	color: #00466e;
}

#topics h4,
#topics p {
	text-align: center;
}

#topics .row {
	-webkit-align-items: left;
	-ms-flex-align: left;
	align-items: left;
}

.share {
	height: 75px;
	width: 75px;
	margin: 1rem;
	padding: 0;
	color: #00466e;
	font-size: 250%;
	background-color: #fff;
	border: none;
	border-radius: 50%;
}

.share:hover {
	color: #c80000;
}

#preview {
	display: inline-block;
	margin: 0.5rem;
	padding: 0.2rem 0.5rem;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #c80000;
	border-radius: 2px;
	-ms-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.fb-messenger {
	background-image: url('../img/fb-messenger.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px;
	width: 40px;
	height: 40px;
}




/* REPRESENTATIVES */

.glyph.unknown {
	color: #2E2E50;
}

.glyph.liberty {
	color: #2CBC9B;
}

.glyph.spy {
	color: #E74B4C;
}

#representatives {
	color: #fff;
	margin-bottom: 20px;
}

.representative {
	position: relative;
	width: 137.15px;
	height: 190px;
	margin: 0;
	padding: 0;
	color: inherit;
	text-align: center;
	transition: width 0.3s ease;
}

.representative .column {
	-webkit-justify-content: flex-end;
	-ms-flex-pack: flex-end;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	padding-bottom: 0.5rem;
	text-shadow: 0px 0px 2px #000;
	z-index: 10;
}

.representative .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	-webkit-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-ms-transition: background-color .3s ease;
	-o-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

.representative:hover .overlay {
	background-color: rgba(31,31,31,0.1) !important;
}

.representative .overlay.unknown {
	background-color: rgba(79,79,140,0.3);
}

.representative .overlay.liberty {
	background-color: rgba(44,188,155,0.3);
}

.representative .overlay.spy {
	background-color: rgba(231,75,76,0.3);
}

.representative .name {
	font-size: 14px;
	font-weight: bold;
	z-index: 10;
}

.representative .party {
	font-size: 10px;
	text-transform: uppercase;
	z-index: 10;
}

.representative img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-filter: grayscale(50%) sepia(20%);
	filter: grayscale(50%) sepia(20%);
}

.team {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin: 0 auto 0;
	padding: 0.4rem 0.6rem;
	color: #fff;
	white-space: nowrap;
	border-radius: 6px;
	transform: translate(-50%,50%);
	z-index: 10;
}

.team.unknown {
	background-color: #2E2E50;
}

.team.liberty {
	background-color: #2CBC9B;
}

.team.spy {
	background-color: #E74B4C;
}

.profile {
	position: relative;
	max-width: 98%;
	margin: 1rem auto 2rem;
	border: 6px solid;
	border-radius: 10px;
}

.profile.unknown {
	border-color: #2E2E50;
}

.profile.liberty {
	border-color: #2CBC9B;
}

.profile.spy {
	border-color: #E74B4C;
}

.profile > img {
	display: block;
	-webkit-filter: grayscale(80%) sepia(10%);
	filter: grayscale(80%) sepia(10%);
}


/* Geri 27.02.2017 */
a {
	color: #C80000;
}
a:hover{
	color:#0d74a6;
}
.bg-white{
	background: #fff;
}

nav > ul > li:nth-of-type(2) > a {
	background: #c80000;
	color: #fff;
}
nav > ul > li:nth-of-type(2) > a:hover {
	background: #00466e;
	color: #fff;
}
nav > ul > li.active {
	color: #fff;
	background-color: #00466e;
}
.block{
	display: flex;
	align-items: center;
	justify-content: center;
}
.blk-left{
	padding:15px;
	float: left;
	width: 10%;
}
.blk-left > img{
	width: 100%;
}
.blk-right{
	padding:15px;
	float: left;
	width: 10%;
}
.blk-right > img{
	width: 100%;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.blk-middle{
	float: left;
	width: 80%;
	text-align: center;

}
.c-block{
	background: #fff;
	padding: 10px;
	transition:all 0.3s ease;
	min-height: 170px;
	border-radius: 10px;
}
.c-block:hover{

	color: #C90000;
	box-shadow: inset 0 0 0 5px #C90000;
}
.c-block h4{
	color: #00466e;
}
.c-block:hover h4{
	color: #C90000;
}
.c-block img{
	height: 85px;
}

/* Progress bar container */
@keyframes move
{
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
.progressbar
{

	width: 100%;
	height: 35px;
	position: relative;
	color: black;

	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}
.progressbar:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image: linear-gradient(
			-45deg,
			rgba(255, 255, 255, .2) 25%,
			transparent 25%,
			transparent 50%,
			rgba(255, 255, 255, .2) 50%,
			rgba(255, 255, 255, .2) 75%,
			transparent 75%,
			transparent
	);
	z-index: 1;
	background-size: 50px 50px;
	animation: move 40s linear infinite;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
}
/* Color bar */
.progressbar div.progress
{

	height : 100%;
	overflow : hidden;

	border-radius: 5px;

	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #c80000;

	box-shadow:
			inset 0 2px 9px  rgba(255,255,255,0.3),
			inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;

}

/* Text on bar */
.progressbar div.progress .text
{
	position : absolute;
	text-align : center;
	color : white;
	margin-top : 2px;
}

/* Text off bar */
.progressbar div.text
{
	position: absolute;
	text-align: center;
	margin-top: 2px;
	width: 100%;
	height: 100%;
	font-size: 22px;
	color : white;
	font-weight: bold;
}
.padding{
	padding: 4em!important;
}
#sprich h2{
	margin-bottom: 20px;
}
#sprich a{
	font-size: 20px;
	font-weight: bold;
}
#zitate ul{
	list-style: none;
}
#zitate li:nth-child(even){
	position: relative;
	margin-left: 140px;
	background: #075698;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#44B5F8), to(#44B5F8));
	background: -moz-linear-gradient(#44B5F8, #2A97FA);
	background: -o-linear-gradient(#44B5F8, #2A97FA);
	background: linear-gradient(#44B5F8, #2A97FA);
	border-radius: 10px;
	padding: 10px;
	color: #fff;
	width: 70%;
}
#zitate  li:nth-child(even):before{
	content:url('../img/wave.png');
	position: absolute;
	right: -110px;
	top: -3px;
}
#zitate  li:nth-child(even):after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: -20px;
	top: 37px;
	bottom: auto;
	border: 10px solid;
	border-color: #3EAEF8  transparent  transparent #3EAEF8;
}
#zitate li:nth-child(odd){
	margin: 65px 15px 15px;
	position:relative ;
}
#zitate  li:nth-child(odd) .avtxt:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 82px;
	right: auto;
	top: 35px;
	bottom: auto;
	border: 12px solid;
	border-color: #e4e4e4 #e4e4e4 transparent transparent;
}
#zitate li{
	clear: both;
}
#zitate li:nth-child(even) a{
	color: #222;
	text-transform: uppercase;

}
#zitate li:nth-child(even) a:hover{
	color: #fff;

}
#zitate .avatar{
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
	float: left;
}
#zitate .avtxt{
	margin-left: 100px;
	background: #E5E5EA;
	border-radius: 10px;
	padding: 10px;
	width: 70%;
}
.avatar img{
	width: 100%;
}
.chat ul{
	list-style: none;
}
.chat p > a{
	color: #fff;
	text-decoration: underline;
	font-weight:bold;
}
.chat li:nth-child(even){
	position: relative;
	margin-left: 60px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#44B5F8), to(#44B5F8));
	background: -moz-linear-gradient(#44B5F8, #2A97FA);
	background: -o-linear-gradient(#44B5F8, #2A97FA);
	background: linear-gradient(#44B5F8, #2A97FA);
	border-radius: 10px;
	padding: 10px;
	color: #fff;
}
.chat li:nth-child(even):after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -20px;
	right: auto;
	top: 10px;
	bottom: auto;
	border: 12px solid;
	border-color: #44B5F8 #44B5F8 transparent transparent;
}
.chat li:nth-child(odd){
	margin: 55px 15px 15px;
}
.chat li:nth-child(odd):first-child {
	margin: 25px 15px 15px;
}
.chat li{
	clear: both;
}
.chat .avtxt{

	background: #E5E5EA;
	width: 70%;
	border-radius: 10px;
	padding: 10px;

}
.chat .btn{
	width: 550px;
	color: #ffffff !important;
	background: #449d44;
	font-size: 14px;
	text-decoration: none;
	border-bottom: 0px;
}

.chat h3{
	font-size: 100%;
	font-family: "OpenSans", "Helvetica Neue", "Helvetica", sans-serif;
}
.chat h2{
	margin: 25px 0 0;
	margin-bottom: 0;
}
.uetxt{
	padding: 20px 0px;
	font-size: 18px;
}
.txt-left{
	width: 50%;
	float: left;
}
.txt-right{
	width: 50%;
	float: left;
	text-align: right;
}
#aktiv h1{
	line-height: 1.3;
}
#aktiv h2{
	font-size: 24px;
	line-height: 1.3;
	padding: 15px 0;
	text-align: center;
}
.center{
	text-align: center;
}
.center h2{
	padding: 15px 0;
}
#sicherheit{
	color: #fff;
	background: #449d44;
}
#sicherheit h2,#sicherheit h3{
	color: #fff;

	letter-spacing: 0.8px;
}
#sicherheit p{
margin-top: 15px;
}
#sicherheit h3{
	padding: 0 0 15px;
}
.aktivgreen:before {
	border-top: 40px solid #449d44!important;
}
.padding h3{
	clear: both;
	padding: 15px 0 0;
}
section{
	word-wrap: break-word;
}
@media screen and (max-width: 767px) {
	.visible-desktop{
		display: none;
	}
	.blk-right {
		padding: 0;
		float: left;
		width: 20%;
	}

	.blk-left {
		display: none;
	}
	.block {

		padding: 15px 10px;
	}
	.chat li:nth-child(even) {

		margin-left: 15px;

	}
	.chat li:nth-child(odd) {
		margin: 55px 0 15px;
	}
	.txt-left {
		width: 50%;
		float: left;
		font-size: 14px;
	}
	.txt-right {
		width: 50%;
		float: left;
		text-align: right;
		font-size: 14px;
	}
	.padding{
		overflow: auto;
	}
	nav .row{
		display: block;
	}
	nav > ul > li > a {
		display: block;
		padding: 15px;
		color: inherit;
	}
}
@media screen and (min-width: 768px) {
	.visible-mobile{
		display: none;
	}
}

#supporters ul > * {
	width: auto;
}

#supporters img {
	width: 200px;
	max-width: 100%;
	margin-right: 1rem;
}
