<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="author" content="epicenter.works" />
<meta name="description" content="Sicherheit statt Überwachung!" />
<meta name="keywords" content="überwachung, vorratsdaten" />

<meta property="og:title" content="{{ config['PROJECT_NAME'] }}" />
<meta property="og:image" content="{{ url_for('static', filename='img/thumbnail.png') }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://überwachungspaket.at/" />
<meta property="og:description" content="Sicherheit statt Überwachung" />
<meta property="og:locale" content="de_AT" />
<meta property="og:site_name" content="epicenter.works"/>

<meta name="twitter:title" content="{{ config['PROJECT_NAME'] }}" />
<meta name="twitter:image" content="{{ url_for('static', filename='img/thumbnail.png') }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content="https://überwachungspaket.at/" />
<meta name="twitter:description" content="Sicherheit statt Überwachung!" />
<meta name="twitter:site" content="@epicenter_works" />

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
