{% extends "layout.html" %}
{% set active_page = "consultation" %}

{% block title %}
	<title>Konsultation | {{ config['PROJECT_NAME'] }}</title>
{% endblock title %}

{% block content %}
	<section id="quotes">
		<h2>Highlights</h2>
		{% block consultation_quotes %}{% endblock consultation_quotes %}
	</section>
	<section id="table">
		<h2>Stellungnamen</h2>
		<table>
			<tr>
				<th>Name</th>
				<th>Datum</th>
				<th>PDF</th>
			</tr>
			<tr>
				<td>Dummy</td>
				<td>01.01.2018</td>
				<td></td>
			</tr>
		</table>
	</section>
{% endblock %}
