<div class="indent" id="quotes-carousel">
{% for quote in quotes %}
{% if quote.slider -%}
	<div>
		<div class="slide-center">
			<div class="avatar">
				{% if quote.logo -%}
				<img src="{{ url_for('static', filename='img/quote/' + quote.logo) }}" alt="" />
				{% else -%}
				<img src="{{ url_for('static', filename='img/quote/user.jpg') }}" alt="" />
				{% endif -%}
			</div>
			<div class="avtxt">
				<strong>{{ quote.name }}</strong>
				<p>{{ quote.text|safe }}</p>
				<a href="{{ quote.url }}" class="small"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Stellungnahme lesen</a>
			</div>
		</div>
	</div>
{% endif -%}
{% endfor %}
</div>
