{% extends "layout.html" %}

{% block title %}
	<title>E-Mail-Bestätigung | {{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

{% block content %}
	<section>
	  <div class="container">
		<h2>E-Mail-Bestätigung</h2>
        <p>Vielen Dank. Ihre Stellungnahme ist versandt worden; sie erhalten eine Kopie per E-Mail.</p>


		<h3>Weitersagen</h3>
		<p>Erzählen Sie Ihren Freundinnen, Freunden und Verwandten von dieser Seite, was die Regierung vorhat und warum auch sie davon betroffen sind.</p>
		<div class="row bottom">
			<a class="share center" href="http://www.facebook.com/sharer.php?u=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F">
				<div class="center"><i class="fa fa-facebook" aria-hidden="true"></i></div>
			</a>
			<a class="share center" href="https://twitter.com/intent/tweet?url=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F&amp;text=Stoppt%20das%20%C3%9Cberwachungspaket%21&amp;hashtags=%C3%BCberwachungspaket&amp;related=epicenter%5Fworks%3Aepicenter%2Eworks">
				<div class="center"><i class="fa fa-twitter" aria-hidden="true"></i></div>
			</a>
			<a class="share center" href="https://plus.google.com/share?url=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F">
				<div class="center"><i class="fa fa-google-plus" aria-hidden="true"></i></div>
			</a>
			<a class="share center" href="mailto:?subject=Überwachungspaket&amp;body=Hallo,%0A%0Abitte schau dir https://www.überwachungspaket.at an!%0A%0ALg,">
				<div class="center"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
			</a>
			<a class="share share-mobile center" href="fb-messenger://share/?link=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F">
				<div class="center"><i class="fb-messenger"></i></div>
			</a>
			<a class="share share-mobile center" href="sms:?body=Schau dir https://www.überwachungspaket.at an!">
				<div class="center">
					<span class="fa-stack fa-1x">
						<i class="fa fa-comment fa-stack-1x"></i>
						<strong class="fa fa-stack-1x sms-text">sms</strong>
					</span>
				</div>
			</a>
			<a class="share center" href="https://telegram.me/share/url?url=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F&amp;text=Schau%20dir%20das%20an%21">
				<div class="center"><i class="fa fa-telegram"></i></div>
			</a>
			<a class="share share-mobile center" href="whatsapp://send?text=Schau%20dir%20das%20an%21%20https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F" data-action="share/whatsapp/share">
				<div class="center"><i class="fa fa-whatsapp"></i></div>
			</a>
			<a class="share center" href="http://www.reddit.com/submit?url=https%3A%2F%2Fwww.%C3%BCberwachungspaket.at&amp;title=Stoppt%20das%20%C3%9Cberwachungspaket%21&amp;resubmit=true">
				<div class="center"><i class="fa fa-reddit-alien"></i> </div>
			</a>
		</div>
	  </div>
	</section>
{% endblock %}
