{% extends "layout.html" %}

{% block title %}
	<title>Häufig gestellte Fragen | {{ config['PROJECT_NAME'] }}</title>
{% endblock title %}

{% block content %}
	<section>
		<h1>Häufig gestellte Fragen</h1>
		<h2>Inhaltliche Kritik<h2>
		<h3 id="flaechendeckende-videoueberwachung">Flächendeckende Videoüberwachung</h3>
		<p>Betreiber von Überwachungskameras sollen zur Vorratsdatenspeicherung des Videomaterials verpflichtet werden, das auf Anordnung der Staatsanwaltschaft herausgegeben werden muss. Die Regierung will sogar private Unternehmen (im Nahebereich der öffentlichen Hand) in die Vernetzung der Überwachungsmöglichkeiten miteinbeziehen. Falls keine technische Hürde vorliegt, sollen die Aufnahmen in Echtzeit an die Sicherheitsbehörden gestreamt werden.</p>
		<h3 id="staatliche-spionagesoftware">Staatliche Spionagesoftware (Bundestrojaner)</h3>
		<p>Nachdem das Justizministerium den Plan für den Einsatz staatlicher Spionagesoftware im Vorjahr nach massiver sachlicher Kritik zurückgezogen hat, soll diese Maßnahme nun sogar mit erweitertem Fokus kommen. Das größte Problem dabei: Die Regierung hat damit ein Interesse daran, dass Sicherheitslücken in Computersystemen bestehen bleiben, um den Bundestrojaner einsetzen zu können. Diese Sicherheitslücken können dann auch von Kriminellen ausgenützt werden. Anstatt mehr Sicherheit entsteht so mehr Unsicherheit.</p>
		<h3 id="registrierungspflicht-fuer-prepaid-sim-karten">Registrierungspflich für Prepaid SIM-Karten</h3>
		<p>Für Prepaid-Wertkarten wird eine Registrierung verlangt. Damit werden 4,5 Millionen Nutzer in Österreich unter Generalverdacht gestellt. Während dadurch ein finanzieller und organisatorischer Mehraufwand entsteht und man Billiganbieter vom Markt drängt, werden Kriminelle auf andere Kommunikationsmittel ausweichen.</p>
		<h3 id="ueberwachung-im-strassenverkehr">Überwachung im Straßenverkehr</h3>
		<p>Der vorgelegte Pakt sieht ein elektronisches Kennzeichenerfassungssystem vor, mit dem die Nummernschilder der sich im Verkehr bewegenden Fahrzeuge automatisch verarbeitet werden können. Zudem will die Regierung bei konkretem Tatverdacht auch Gespräche in Autos abhören können (Lauschangriff).</p>
		<h2>Abgeordnete kontaktieren</h2>
		<h3>Wie kann ich mit den Abgeordneten in Kontakt treten?</h3>
		{{ lipsum(1) }}
		<h3>Kann ich die Abgeordneten einfach so anrufen?</h3>
		{{ lipsum(1) }}
		<h3>Wie werden die Abgeordneten einem jeweiligen Bundesland zugeordnet?</h3>
		<p>Die Zuordnung von Abgeorneten, die ihr Mandat über einen Bundeswahlvorschlag erlangt haben, erfolgt aufgrund anderweitiger politischer Funktionen, Kandidatur in einem Landeswahlvorschlag, Wohnort oder Lebenslauf.</p>
		<h2>Anderes</h2>
		<h3>Wer seid ihr?</h3>
		{{ lipsum(1) }}
	</section>
{% endblock %}
