{% extends "layout.html" %}
{% set active_page = "faq" %}

{% block title %}
	<title>Häufig gestellte Fragen | {{ config['PROJECT_NAME'] }}</title>
{% endblock title %}

{% block content %}
	<section class="chat">
		<div class="container">
			<h1>Häufig gestellte Fragen</h1>
			<h2>Abgeordnete kontaktieren</h2>
			<ul>
				<li>
					<div class="avtxt">
					<h3>Wie kann ich mit den Abgeordneten in Kontakt treten?</h3>
					</div>
				</li>
				<li>
					<p>Du kannst über unsere Plattform mit den Abgeordneten telefonieren und ihnen E-Mails schreiben.</p>
				</li>
				<li>
					<div class="avtxt">
						<h3>Kann ich die Regierungsmitglieder und Abgeordnete einfach so anrufen?</h3>
					</div>
				</li>
				<li>
					<p>Natürlich! Sie werden von deinen Steuergeldern bezahlt. Es gehört zu ihrem Job, mit den Menschen in diesem Land zu reden und ihnen zu erklären, warum Grundrechte eingeschränkt werden sollen.</p>
				</li>
				<li>
					<div class="avtxt">
						<h3>Wie werden die Abgeordneten einem jeweiligen Team zugeordnet?</h3>
					</div>
				</li>
				<li>
					<p>Die Zuordnung der Politikerinnen und Politiker zu den einzelnen Teams erfolgte durch den Verein epicenter.works auf Basis von Aussagen der jeweiligen Personen oder ihrer Parteien. Sollte die hier getroffene Zuordnung für oder gegen das geplante Überwachungspaket zu stimmen, nicht korrekt sein, treten Sie mit uns in Kontakt.</p>
				</li>
				<li>
					<div class="avtxt">
						<h3>Wie werden die Abgeordneten einem jeweiligen Bundesland zugeordnet?</h3>
					</div>
				</li>
				<li>
					<p>Die Zuordnung von Abgeordneten, die ihr Mandat über einen Bundeswahlvorschlag erlangt haben, erfolgt aufgrund anderweitiger politischer Funktionen, Kandidatur in einem Landeswahlvorschlag, Wohnort oder Lebenslauf.</p>
				</li>
			</ul>
			<h2>Anderes</h2>
			<ul>
				<li>
					<div class="avtxt">
						<h3>Wer seid ihr?</h3>
					</div>
				</li>
				<li>
					<p>
						Diese Kampagne wurde initiiert von <a href="https://epicenter.works/" target="_blank">epicenter.works</a> (vormals AKVorrat), einem Verein, der sich für die Wahrung von Grundrechten im digitalen Zeitalter einsetzt. Es gibt einige Organisationen, die diese Kampagne gegen das Überwachungspaket unterstützen. Gemäß unserem Slogan "Zivilgesellschaft wirkt!" sind wir offen für weitere Kooperationen. Falls Ihre Organisation beitragen möchte, wenden Sie sich bitte an uns: <a href="https://epicenter.works/kontakt" target="_blank">https://epicenter.works/kontakt</a>
					</p>
				</li>
				<li>
					<div class="avtxt">
						Warum macht ihr das?
					</div>
				</li>
				<li>
					<p>Weil wir uns Demokratie und Freiheit nicht nehmen lassen wollen.</p>
				</li>
				<li>
					<div class="avtxt">
						Wer finanziert euch?
					</div>
				</li>
				<li>
					<p>
						Der Großteil unseres Budgets kommt von Einzelspenden aus der Zivilgesellschaft. Die Spenden von Firmen haben wir gedeckelt (https://epicenter.works/spenden-faq), da wir unsere Arbeit nur machen können, wenn wir unabhängig sind. Gelder von öffentlicher Hand haben wir bis jetzt noch nie angenommen. In unserem jährlichen Transparenzbericht(https://epicenter.works/transparenz) findest du die genauen Zahlen. Wir sind für unsere Unabhängigkeit angewiesen von möglichst vielen Einzelspenden. Wenn du unsere Arbeit gut findest, bitte unterstütze uns (https://spenden.epicenter.works).
					</p>
				</li>
				<li>
					<div class="avtxt">
						Wie kann ich bei euch mit machen?
					</div>
				</li>
				<li>
					<p>
						Wir verstehen uns als Plattform und Stimme für zivilgesellschaftliche Engagement für Grund- und Freiheitsrechte im digitalen Zeitalter. Bei uns kann man ganz einfach mitmachen, indem man sich auf der Mitmachen-Seite(https://epicenter.works/mitmachen) anmeldet oder zum monatlich stattfindenden Netzpolitischen Abend(https://epicenter.works/tags/Veranstaltungen) kommt. Der Großteil unserer Arbeit wird von Ehrenamtlichen gemacht. Wir freuen uns über alle konstruktiven Menschen, die sich in ihrer Demokratie einbringen wollen.
					</p>
				</li>
				<li>
					<div class="avtxt">
						Wie funktioniert diese Website?
					</div>
				</li>
				<li>
					<p>
						Dank großartiger Menschen, die die Funktionen dieser Seite unbezahlt programmiert haben funktioniert sie hervorragend. Im Ernst: Du kannst über diese Seite Kontakt mit Regierungsmitgliedern und Abgeordneten aufnehmen und mit ihnen über Überwachung reden. Frage sie nach einer Wirkungsfolgenabschätzung für neue Überwachungsgesetze. Frage sie nach einer Überwachungsgesamtrechnung. Frage sie, warum die Einschränkung deiner Rechte mehr Sicherheit bringen soll.
					</p>
				</li>
			</ul>

			<h2>Geschlechtergerechte Sprache</h2>
			<ul>
				<li>
					<div class="avtxt">
						Warum werden nicht beide Geschlechter angesprochen?
					</div>
				</li>
				<li>
					<p>
						Uns als Betreibern dieser Website fehlt es nicht an Sensibilität für geschlechtergerechte Sprache. Da die Kürze vor allem bei der Telefonfunktion sehr bedeutsam ist, haben wir uns schweren Herzens für das generische Maskulinum entschieden und das dann auch in den Texten der Website verwendet. Das ist ein Kompromiss. Wir bitten um Nachsicht.
					</p>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}
