{% extends "layout.html" %}
{% set active_page = "faq" %}

{% block title %}
	<title>Häufig gestellte Fragen | {{ config['PROJECT_NAME'] }}</title>
{% endblock title %}

{% block content %}
	<section>
		<h1>Häufig gestellte Fragen</h1>
		<h2>Abgeordnete kontaktieren</h2>
		<h3>Wie kann ich mit den Abgeordneten in Kontakt treten?</h3>
		{{ lipsum(1) }}
		<h3>Kann ich die Abgeordneten einfach so anrufen?</h3>
		{{ lipsum(1) }}
		<h3>Wie werden die Abgeordneten einem jeweiligen Team zugeordnet?</h3>
		<p>Die Zuordnung der Politikerinnen und Politiker zu den einzelnen Teams erfolgte durch den Verein epicenter.works auf Basis von Aussagen der Personen und Parteien. Sollte die hier getroffene Zuordnung für oder gegen das geplante Überwachungspaket zu stimmen nicht korrekt sein, treten Sie mit uns in Kontakt.</p>
		<h3>Wie werden die Abgeordneten einem jeweiligen Bundesland zugeordnet?</h3>
		<p>Die Zuordnung von Abgeorneten, die ihr Mandat über einen Bundeswahlvorschlag erlangt haben, erfolgt aufgrund anderweitiger politischer Funktionen, Kandidatur in einem Landeswahlvorschlag, Wohnort oder Lebenslauf.</p>
		<h2>Anderes</h2>
		<h3>Wer sind wir?</h3>
		{{ lipsum(1) }}
	</section>
{% endblock %}
