{% extends "layout.html" %}

{% block title %}
	<title>Sicherheit statt Überwachung! | {{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

{% block header %}
	<header class="center">
		<div>
			<h1>{{ config['PROJECT_NAME'] }}</h1>
			<h2>Sicherheit statt Überwachung!</h2>
		</div>
	</header>
{% endblock %}

{% block content %}
	<section id="was-ist-das-ueberwachungspaket">
		<h2>Was ist das Überwachungspaket?</h2>
		<p>Ende Jänner 2017 hat die Bundesregierung ihr Arbeitsprogramm für den Rest der Legislaturperiode vorgestellt. Darin sind Vorschläge enthalten, die auf eine komplette Überwachung des öffentlichen Raumes abzielen - und das ohne Beleg, dass diese unsere Sicherheit tatsächlich verbessern würden. Die Verschärfung der Gesetze soll sogar so weit gehen, dass Maßnahmen, die bislang nur für verurteilte Straftäter vorgesehen waren, auf unbescholtene Menschen angewandt werden (etwa die Fußfessel). Auch die Vorratsdatenspeicherung, die bereits mehrmals von Höchstgerichten für unvereinbar mit unseren Grundrechten erklärt wurde, soll wieder eingeführt werden.</p>
		<p>Mit derart tiefen Eingriffen in die Privatsphäre aller Menschen wird die technische und juristische Basis für einen Repressionsapparat geschaffen. <em>Unsere Freiheit und unsere Demokratie sind in Gefahr!</em></p>
		<a href="{{ url_for('representatives') }}" class="btn btn-default">Jetzt handeln</a>
	</section>
	<section id="warum-ist-das-schlecht">
		<h2>Warum ist das schlecht?</h2>
		<div class="row items3">
			<div class="column">
				<div class="center"><i class="fa fa-floppy-o fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('faq', _anchor='quick-freeze') }}">Quick Freeze</a></h4>
				<p>Obwohl der EuGH die Vorratsdatenspeicherung zum zweiten mal als rechtswidrig erklärt hat, versucht man sie in Österreich unter einem anderen Namen einzuführen. <a href="{{ url_for('faq', _anchor='quick-freeze') }}">mehr</a></p>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-video-camera fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('faq', _anchor='flaechendeckende-videoueberwachung') }}">Flächendeckende Videoüberwachung</a></h4>
				<p>Betreiber von Überwachungskameras sollen zur Speicherung des Videomaterials verpflichtet werden. <a href="{{ url_for('faq', _anchor='flaechendeckende-videoueberwachung') }}">mehr</a></p>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-mobile fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('faq', _anchor='registrierungspflicht-fuer-wertkarten') }}">Registrierungspflicht für Wertkarten</a></h4>
				<p>Für Prepaid-Wertkarten muss zur Registrierung ein Lichtbildausweis vorgelegt werden. <a href="{{ url_for('faq', _anchor='registrierungspflicht-fuer-wertkarten') }}">mehr</a></p>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-whatsapp fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('faq', _anchor='staatliche-spionagesoftware') }}">Staatliche Spionagesoftware (Bundestrojaner)</a></h4>
				<p>Durch staatliche Schadsoftware soll Ermittlern umfangreicher Zugriff auf Kommunikation via WhatsApp und anderen Messengern gegeben werden. <a href="{{ url_for('faq', _anchor='staatliche-spionagesoftware') }}">mehr</a></p>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-road fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('faq', _anchor='ueberwachung-im-strassenverkehr') }}">Überwachung im Straßenverkehr</a></h4>
				<p>Mit einem elektronischen Kennzeichenerfassungssystem sollen die Nummernschilder der sich im Verkehr bewegenden Fahrzeuge automatisch verarbeitet werden können. <a href="{{ url_for('faq', _anchor='ueberwachung-im-strassenverkehr') }}">mehr</a></p>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-car fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('faq', _anchor='lauschangriff-im-auto') }}">Lauschangriff im Auto</a></h4>
				<p>Die Möglichkeit eines Lauschangriffs soll um Innenräume von Autos ergänzt werden. <a href="{{ url_for('faq', _anchor='lauschangriff-im-auto') }}">mehr</a></p>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-commenting-o fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('faq', _anchor='einschraenkung-der-meinungsfreiheit') }}">Einschränkung der Meinungsfreiheit</a></h4>
				<p>Duis per dolor diam vulputate risus maecenas porta, tempor rhoncus et ligula sapien orci, curae tincidunt phasellus orci ipsum sociosqu, conubia ultrices donec. <a href="{{ url_for('faq', _anchor='einschraenkung-der-meinungsfreiheit') }}">mehr</a></p>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-ban fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('faq', _anchor='fussfessel') }}">Fußfessel für nicht Verurteilte</a></h4>
				<p>Duis per dolor diam vulputate risus maecenas porta, tempor rhoncus et ligula sapien orci, curae tincidunt phasellus orci ipsum sociosqu, conubia ultrices donec. <a href="{{ url_for('faq', _anchor='fussfessel') }}">mehr</a></p>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-shield fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('faq', _anchor='cybersicherheitsgesetz') }}">Cybersicherheitsgesetz</a></h4>
				<p>Duis per dolor diam vulputate risus maecenas porta, tempor rhoncus et ligula sapien orci, curae tincidunt phasellus orci ipsum sociosqu, conubia ultrices donec. <a href="{{ url_for('faq', _anchor='cybersicherheitsgesetz') }}">mehr</a></p>
			</div>
		</div>
	</section>
	<section id="wie-kann-ich-helfen">
		<h2>Wie kann ich helfen?</h2>
		<div class="row">
			<div class="column">
				<h4>Rede über Überwachung</h4>
				<p>Erzähle deinen Freundinnen, Freunden und Verwandten von dieser Seite, was die Regierung vorhat und warum auch sie davon betroffen sind.</p>
				<div class="row bottom">
					<a class="share center" href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Füberwachungspaket%2Eat%2F" target="_blank">
						<div class="center"><i class="fa fa-facebook" aria-hidden="true"></i></div>
					</a>
					<a class="share center" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Füberwachungspaket%2Eat%2F&text=Stoppt%20das%20%C3%9Cberwachungspaket%21&hashtags=%C3%BCberwachungspaket&related=epicenter%5Fworks%3Aepicenter%2Eworks" target="_blank">
						<div class="center"><i class="fa fa-twitter" aria-hidden="true"></i></div>
					</a>
					<a class="share center" href="https://plus.google.com/share?url=https%3A%2F%2Füberwachungspaket%2Eat%2F" target="_blank">
						<div class="center"><i class="fa fa-google-plus" aria-hidden="true"></i></div>
					</a>
				</div>
			</div>
			<div class="column">
				<h4>Spenden</h4>
				<p>Als unabhängige, gemeinnützige Bürgerrechtsorganisation ist epicenter.works auf finanzielle Unterstützung angewiesen. Individuelle Spenden aus der Zivilgesellschaft ermöglichen unsere Arbeit für die Verteidigung der Grund- und Freiheitsrechte im digitalen Zeitalter. Mit eurer Hilfe werden wir alles unternehmen, damit falsch verstandene Sicherheitspolitik in Österreich nicht die Freiheit aller Menschen einschränkt.</p>
				<a class="btn btn-default bottom" href="https://spenden.epicenter.works/" target="_blank">Jetzt spenden</a>
			</div>
			<div class="column">
				<h4>Abonnieren</h4>
				<p>epicenter.works hält Interessierte immer auf dem neuesten Stand. Wenn du über Neuigkeiten zu digitalen Bürgerrechten Bescheid wissen und über das Überwachungspaket am Laufenden bleiben möchtest, kannst du dich hier für den Newsletter eintragen.</p>
				<form class="row bottom" action="https://lists.akvorrat.at/subscribe/vds-info" method="post">
					<input name="email" placeholder="E-Mail" type="email" class="stick" />
					<button class="btn btn-back stick">Abonnieren</button>
				</form>
			</div>
			<div class="column">
				<h4>Mitmachen</h4>
				<p>Im Einsatz gegen Überwachung brauchen wir immer wieder helfende Hände und kreative Köpfe, die sich bei unseren Projekten und Aktionen einbringen.</p>
				<a class="btn btn-back bottom" href="https://epicenter.works/mitmachen" target="_blank">Mitmachen</a>
			</div>
		</div>
	</section>
{% endblock %}
