{% extends "layout.html" %}

{% block title %}
	<title>{{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

{% block header %}
	<header class="center">
		<div>
			<h1>{{ config['PROJECT_NAME'] }}</h1>
		</div>
	</header>
{% endblock %}

{% block content %}
	<section id="topics">
		<h2>Themen</h2>
		<div class="row items3">
			<div class="column">
				<div class="center"><i class="fa fa-floppy-o fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('topics', _anchor='quick-freeze') }}">Quick Freeze</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-video-camera fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('topics', _anchor='videoueberwachung') }}">Flächendeckende Videoüberwachung</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-mobile fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('topics', _anchor='wertkarten') }}">Registrierungspflicht für Wertkarten</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-whatsapp fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('topics', _anchor='spionagesoftware') }}">Staatliche Spionagesoftware (Bundestrojaner)</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-road fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('topics', _anchor='strassenverkehr') }}">Überwachung im Straßenverkehr</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-car fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('topics', _anchor='lauschangriff') }}">Lauschangriff im Auto</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-commenting-o fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('topics', _anchor='meinungsfreiheit') }}">Einschränkung der Meinungsfreiheit</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-ban fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('topics', _anchor='fussfessel') }}">Fußfessel für nicht Verurteilte</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-shield fa-5x" aria-hidden="true"></i></div>
				<h4><a href="{{ url_for('topics', _anchor='cybergesetz') }}">Cybergesetz</a></h4>
			</div>
		</div>
	</section>
	<section class="dark">
		<a href="{{ url_for('representatives') }}" class="btn btn-default">werde aktiv</a>
	</section>
	<section>
		<p>Politikerauslage</p>
	</section>
	<section class="dark">
		<a href="{{ url_for('share') }}" class="btn btn-default">Rede über Überwachung</a>
	</section>
	<section>
		<h2>Wie betrifft mich das Überwachungspaket</h2>
		{{ lipsum(3) }}
	</section>
	<section>
		<h2>Zitate Politiker mit Entkräftung</h2>
		{{ lipsum(3) }}
	</section>
	<section class="dark">
		<a href="{{ url_for('representatives') }}" class="btn btn-default">werde aktiv</a>
	</section>
	<section>
		<h2>"Objektives" Sicherheitspaket</h2>
		{{ lipsum(3) }}
	</section>
	<section>
		<h2>Überwachung bringt mehr Sicherheit</h2>
		{{ lipsum(3) }}
	</section>
	<section class="dark">
		<a href="{{ url_for('share') }}" class="btn btn-default">Rede über Überwachung</a>
	</section>
	<section>
		<h2>Unterstützer</h2>
	</section>
{% endblock %}
