{% extends "layout.html" %}
{% set active_page = "root" %}

{% block title %}
	<title>{{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

{% block header %}
	<header class="center">
		<div>
			<h1>{{ config['PROJECT_NAME'] }}</h1>
		</div>
	</header>
{% endblock %}

{% block content %}
	<section id="topics">
		<h2>Themen</h2>
		<div class="row items3">
			<div class="column">
				<div class="center"><i class="fa fa-floppy-o fa-5x" aria-hidden="true"></i></div>
				<h4><a href="https://epicenter.works/thema/ueberwachungspaket">Quick Freeze</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-video-camera fa-5x" aria-hidden="true"></i></div>
				<h4><a href="https://epicenter.works/thema/ueberwachungspaket">Flächendeckende Videoüberwachung</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-mobile fa-5x" aria-hidden="true"></i></div>
				<h4><a href="https://epicenter.works/thema/ueberwachungspaket">Registrierungspflicht für Wertkarten</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-whatsapp fa-5x" aria-hidden="true"></i></div>
				<h4><a href="https://epicenter.works/thema/ueberwachungspaket">Staatliche Spionagesoftware (Bundestrojaner)</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-road fa-5x" aria-hidden="true"></i></div>
				<h4><a href="https://epicenter.works/thema/ueberwachungspaket">Überwachung im Straßenverkehr</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-car fa-5x" aria-hidden="true"></i></div>
				<h4><a href="https://epicenter.works/thema/ueberwachungspaket">Lauschangriff im Auto</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-commenting-o fa-5x" aria-hidden="true"></i></div>
				<h4><a href="https://epicenter.works/thema/ueberwachungspaket">Einschränkung der Meinungsfreiheit</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-ban fa-5x" aria-hidden="true"></i></div>
				<h4><a href="https://epicenter.works/thema/ueberwachungspaket">Fußfessel für nicht Verurteilte</a></h4>
			</div>
			<div class="column">
				<div class="center"><i class="fa fa-shield fa-5x" aria-hidden="true"></i></div>
				<h4><a href="https://epicenter.works/thema/ueberwachungspaket">Cybergesetz</a></h4>
			</div>
		</div>
	</section>
	<section class="dark">
		<a href="{{ url_for('representatives') }}" class="btn btn-default">werde aktiv</a>
	</section>
	<section>
		<div id="representatives" class="row">
			{% for rep in reps %}
			<a class="representative" href="{{ url_for('representative', prettyname=rep.name.prettyname) }}" data-firstname="{{ rep.name.firstname }}" data-lastname="{{ rep.name.lastname }}" data-party="{{ rep.party.prettyname }}" data-team="{{ rep.team.prettyname }}" data-state="{{ rep.state }}">
				<div class="column">
					<div class="name">{{ rep.name.lastname }}</div>
					<div class="party">{{ rep.party.shortname }}</div>
				</div>
				<div class="overlay {{ rep.team.prettyname }}"></div>
				<img src="{{ url_for('static', filename='img/representative-small/' + rep.id + '.jpg') }}" alt="" />
			</a>
			{% endfor %}
		</div>
	</section>
	<section class="dark">
		<a href="{{ url_for('share') }}" class="btn btn-default">Rede über Überwachung</a>
	</section>
	<section>
		<h2>Wie betrifft mich das Überwachungspaket</h2>
		<p>Bewegst du dich in der Öffentlichkeit? Fährst du Auto? Das genügt schon, um im Überwachungsnetz gefangen zu werden. Wenn die Regierung ihre Päne umsetzt, kannst du bald nicht mehr unbeobachtet auf öffentlichen Plätzen aufhalten.</p>
	</section>
	<section>
		<h2>Zitate Politiker mit Entkräftung</h2>
		<strong>C. Kern:</strong> <em>Das erfordert, dass wir die Themen Sicherheit und Integration nachvollziehbar abdecken.</em> (<a href="https://www.profil.at/oesterreich/ab-mitte-kern-spoe-tabus-partei-7970980">Quelle</a>)
		<p>Für keine der vorgeschlagenen Sicherheitsmaßnahmen gibt es Belege, dass die Menschen sicherer machen werden. Im Gegenteil, bei manchen Maßnahmen, etwa der SIM Karten Registrierung, gibt es viele Belege aus anderen Ländern, dass die Menschen dadurch sogar unsicherer werden[link auf Themenseite#Anker auf Kapitel Wertkarten]. Auch Videoüberwachung kann zwar normale Kriminalität in andere Stadtteile verlagern, aber Terroristen können durch die gratis Öffentlichkeit für ihre Greueltagen sogar noch (extra angespornt werden)[https://www.welt.de/politik/deutschland/article160868298/Amri-posierte-nach-Tat-mit-IS-Gruss-vor-Kamera-am-Bahnhof-Zoo.html].</p>
		<strong>W. Sobotka:</strong> <em>In allen Fragen lückenlose Überwachung</em> (<a href="http://derstandard.at/2000050236705/Sobotka-will-Lauschangriff-Fussfessel-fuer-Verdaechtige-und-vernetzte-Videokontrolle">Quelle</a>)
		<p>Eigentlich hat sich der Innenminister mit dieser Aussage selbst disqualifiziert. Lückenlose Überwachung haben bislang nur Politiker in repressiven Regimen gefordert. Von Ministern eines demokratischen Landes hat man so etwas bislang noch nicht gehört. Denn eine funktionierende Demokratie ist ohne Privatssphäre nicht möglich. Unter ständiger Beobachtung können wir uns keine Meinungen bilden und keine Kritik an bestehenden Verhältnissen äußern.</p>
		<strong>R. Mitterlehner:</strong> <em>"Ohne Sicherheit gibt es keine Freiheit</em> (<a href="https://futurezone.at/netzpolitik/vorratsdatenspeicherung-oevp-plant-nachfolgeregelung/239.769.676">Quelle</a>)
		<p>Der Vizekanzler dreht hier die Argumentation auf eine sehr gefährliche Weise um. Er will dir erklären, dass Überwachung mehr Sicherheit bringt. Die ist aber zuallererst einmal eine Einschränkung von Freiheiten.</p>
	</section>
	<section class="dark">
		<a href="{{ url_for('representatives') }}" class="btn btn-default">werde aktiv</a>
	</section>
	<section>
		<h2>"Objektives" Sicherheitspaket</h2>
		<p>Im Überwachungspaket der Regierung ist keine echte Sicherheit enthalten. Statt "subjektiver" Sicherheit oder und Angstmache brauchen wir ein "objektives" Sicherheitspaket.</p>
		<ul>
			<li>Mehr gut ausgebildete Polizeikräfte statt mehr Kameras (Rechenbeispiel: 2200 Kameras auf Österreichs Straßen je 50.000 wären XXX mehr Polizisten)</li>
			<li>Mehr Analysekapazitäten für österreichische Sicherheitsbehörden: Mehr Intelligenz statt mehr Daten.</li>
			<li>Eine Durchmischung der Behörden mit allen Sprachgruppen Österreichs, zumindest mehr Dolmetscherkapazitäten</li>
			<li>Mehr Präventionsarbeit gegen Radikalisierungstendenzen</li>
			<li>Vernetzung mit lokaler Community als vertrauensbildende Maßnahme zur frühzeitigen Meldung von radikalen Tendenzen</li>
			<li>Sunset Clause für alle neuen Überwachungsgesetzte</li>
			<li>Evaluierung aller bestehenden Überwachungsgesetzte</li>
		</ul>
	</section>
	<section>
		<h2>Überwachung bringt mehr Sicherheit</h2>
		<h3>Haben dir Politiker jemals einen Beleg dafür geliefert?</h3>
		<p>Laufend werden neue Überwachungsgesetze beschlossen, ohne dass man sich Gedanken über ihre Wirksamkeit macht. Was dir als "Sicherheitspolitik" verkauft wird, bringt in den seltensten Fällen mehr Sicherheit, aber sehr oft Einschränkungen deiner Grund- und Freiheitsrechte. Frag' die Politiker nach einer Wirkungsfolgenabschätzung für die Maßnahmen, die sie planen!</p>
		<h3>Werden Kinder zu freien, verantwortungsvollen Menschen, wenn man sie dauernd kontrolliert?</h3>
		<p>So ähnlich ist das auch mit staatlicher Überwachung. Sie eignet sich ganz gut dazu, Menschen zu unterdrücken. Freier macht sie sie aber bestimmt nicht. Wer sich permanent überwacht fühlt, wird es ihrgendwann nicht mehr wagen, eine Meinung zu haben.</p>
		<h3>Weniger Freiheit bringt mehr Sicherheit?</h3>
		<p>Freiheit und Sicherheit stehen nicht in einer Balance. Es gibt viele Dinge die unsere Freiheit einschränken aber überhaupt keine Sicherheit bringen. Mehr Daten zu sammeln macht es nicht einfacher Verbrecher zu finden, das wäre so, als ob man den Heuberg größer macht, um leichter die Nadel zu finden. Viele der Maßnahmen im Überwachungspaket wurden von anderen Ländern diskutiert und abgelehnt. Ein Gesetz zur Legalisierung einer staatlichen Spionagesoftware (Bundestrojaner) wurde erst 2016 vorgestellt und nach massiver Kritik von Justizminister Brandstetter zurück genommen. Bei keiner der vorgestellten Maßnahmen gibt es einen Nachweis, das sie uns sicherer macht. Bestehende Überwachungskompetenzen müssten dringend evaluiert werden. Wir fordern eine faktenbasierte Sicherheitspolitik. <a href="https://epicenter.works/thema/heat">Erfahre mehr</a> zur Überwachungsgesamtrechnung.</p>
	</section>
	<section class="dark">
		<a href="{{ url_for('share') }}" class="btn btn-default">Rede über Überwachung</a>
	</section>
	<section>
		<h2>Ich habe nichts zu verbergen</h2>
		<h3>Verwendest du Passwörter?</h3>
		<p>Mit dem geplanten Bundestrojaner wird der Staat zum Hacker. Bald werden Smartphones und private Rechner mit staatlicher Spionagesoftware infiziert um sensible persönliche Daten und Passwörter auszulesen. Dafür riskiert der Staat, uns alle unsicherer zu machen. Sicherheitslücken, die alle betreffen, müssen offen bleiben, damit Trojaner eingeschleust werden können.</p>
		<h3>Hast du eine Kamera im Badezimmer?</h3>
		<p>Wenn du</p>
		<h3>Fährt bei dir im Auto immer ein Polizist mit?</h3>
		<p>Mit der neuen Kennzeichenerfassung hat der Staat bald vollständige Bewegungsprofile aller Autofahrer in Österreich. Egal ob Arbeit, Freizeit oder Krankenhaus jeder Weg wird mit protokolliert. Dazu kann in jedem Auto bald ein Lauschangriff statt finden, auch schon bei geringen Straftaten. All das ist bald in einer staatlichen Datenbank.</p>
		<h3>Hast du ein Wertkartenhandy?</h3>
		<p>Dann bist du einer von 4,5 Millionen Österreicherinnen und Österreichern, die bald ihren Pass herzeigen müssen und auch noch mehr bezahlen müssen. Anonyme Wertkarten werden mit dem Überwachungspaket verboten. Andere Länder haben sich gegen diese Maßnahme entschieden, weil sie nicht positiv für die Sicherheit ist und einen Schwarzmarkt für gestohlene und getauschte SIM-Karten erzeugt. Mit der Maßnahme werden Billiganbieter vom Markt gedrängt, weil sie kaum Möglichkeiten haben, die Registrierung durchzuführen. Damit steigen die Preise.</p>
		<h3>Lässt du deine Haustüre offen, um sicherer zu leben?</h3>
		<p>Genau das macht ein Bundestrojaner mit deinem Computer oder Handy.</p>
		<h3>Gibst du den PIN deiner Bankomatkarte einfach so raus?</h3>
		<h3>Weißt du von wem der Satz „Wer nichts zu verbergen hat, hat von uns nichts zu befürchten“ stammt?</h3>
		<p>Er wird Reichspropagandachef Joseph Goebbels zugeschrieben. Mehr muss man dazu nicht sagen.</p>
	</section>
{% endblock %}
