<!DOCTYPE html>
<html lang="de" dir="ltr">
    <head>
        {% include '_head.html' %}
        {% block title %}{% endblock title %}
    </head>
    <body>
        <header>
            <div class="container row-stretch">
                <a href="/">
                    <h1>Stoppt das <br>Überwachungspaket!</h1>
                </a>
                <nav>
                    {% set navigation_items = [
                        ("general.share", "Werde aktiv!"),
                        ("general.supporters", "Unterstützt von"),
                        ("general.faq", "FAQ")] %}
                    <ul class="row">
                        {% for func, title in navigation_items -%}
                            <li{% if func == active_page %} class="active"{% endif %}><a href="{{ url_for(func) }}">{{ title }}</a></li>
                        {% endfor -%}
                    </ul>
                </nav>
            </div>
        </header>
        {% block header %}{% endblock header %}

        <main>
            {% block content %}{% endblock content %}
        </main>

        <footer>
            {% include '_footer.html' %}
        </footer>

        <a class="kickl-popup" href="https://istkicklschonweg.at" target="_blank">
          <button>×</button>
        </a>

        {% include '_foot.html' %}
    </body>
</html>
