{% extends "layout.html" %}
{% set active_page = "privacy" %}

{% block title %}
	<title>Datenschutz | {{ config['PROJECT_NAME'] }}</title>
{% endblock title %}

{% block content %}
	<section>
		<h1>Datenschutz</h1>
		<p>Bei der Nutzung unserer "Kontaktiere deine Abgeordneten"-<a href="https://überwachungspaket.at/politiker/">Werkzeuge</a> werden in den Logdateien unseres Servers Versandinformationen zu versendeten E-Mails gespeichert. Diese Informationen werden nach 7 Tagen gelöscht und einzig für Fehlerbehebungszwecke verwendet. Mailadressen und Namen werden in der Datenbank für den gesamten Zeitraum der Kampagne zum alleinigen Zweck der Verifizierung der Mailadressen gespeichert.</p>
		<p>Anrufe über unsere Hotline zur Kontaktierung von Abgeordneten werden über den Dienst <a href="https://www.twilio.com">Twilio zugestellt</a>. Deshalb gilt die <a href="https://www.twilio.com/legal/privacy">Twilio-Datenschutzerklärung</a> für diesen Teil des Dienstes zusätzlich. Wir empfehlen den <a href="https://www.twilio.com/legal/transparency">Transparenzreport</a> von Twilio über Anfragen von Regierungsstellen zu lesen. Wir verwenden keine Aufzeichnungsfunktionen von Twilio. Anruferinnerungen werden in einer Datenbank von uns für die Dauer der Kampagne gespeichert und ausschließlich zum Zweck der Anruferinnerung sowie zur Fehlerbehebung verwendet. Wir erheben nicht personenbezogene Statistikdaten über die getätigten Anrufe und versendeten E-Mails über unser Tool.</p>
		<p>Wir erheben auch statistische Daten zu Besuchen dieser Website, siehe dazu die <a href="https://epicenter.works/kontakt#datenschutz">Datenschutzerklärung von epicenter.works</a>.</p>
	</section>
{% endblock %}
