{% extends "layout.html" %}
{% set active_page = "representative" %}

{% block title %}
	<title>{{ rep }} | {{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

{% block content %}
	<section class="column">
		<h1>{{ rep.fullname() }} ({{ rep.party.shortname }})</h1>
		<div class="profile {{ rep.team.prettyname }}">
			<img src="{{ url_for('static', filename='img/representative/' + rep.id + '.jpg') }}" alt="{{ rep }}" />
			<span class="team {{ rep.team.prettyname }}">{{ rep.team }}</span>
		</div>
		<div class="row bottom">
			{% if rep.contact.facebook|length > 0 %}
			<a class="share center" href="https://www.facebook.com/{{ rep.contact.facebook }}" target="_blank">
				<div class="center"><i class="fa fa-facebook" aria-hidden="true"></i></div>
			</a>
			<a class="share center" href="https://fb.com/msg/{{ rep.contact.facebook }}" target="_blank">
				<div class="center"><i class="fb-messenger" aria-hidden="true"></i></div>
			</a>
			{% endif %}
			{% if rep.contact.twitter|length > 0 %}
			<a class="share center" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Füberwachungspaket%2Eat%2F&text=Stoppt%20das%20%C3%9Cberwachungspaket%21%20%40{{ rep.contact.twitter }}&hashtags=%C3%BCberwachungspaket&related=epicenter%5Fworks%3Aepicenter%2Eworks" target="_blank">
				<div class="center"><i class="fa fa-twitter" aria-hidden="true"></i></div>
			</a>
			{% endif %}
			{% if rep.contact.mail|length > 0 %}
			<a class="share center" href="#email">
				<div class="center"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
			</a>
			{% endif %}
			{% if rep.contact.phone|length > 0 %}
			<a class="share center" href="#anrufen">
				<div class="center"><i class="fa fa-phone" aria-hidden="true"></i></div>
			</a>
			{% endif %}
		</div>
	</section>
	{% if rep.contact.phone|length > 0 %}
	<section id="anrufen">
		<h2><a name="anrufen"></a><i class="fa fa-phone fa-lg" aria-hidden="true"></i> Anrufen</h2>
		<div id="call" class="row items3 row-space centertext">
			<div>
				<i class="fa fa-mobile fa-5x" aria-hidden="true"></i>
				<h3>Wählen</h3>
				<p>Unter <strong><a href="tel:{{ twilio_number }}">{{ twilio_number }}</a></strong> erreichst du unser Kampagnentelefon.</p>
			</div>
			<div>
				<i class="fa fa-reply-all fa-5x" aria-hidden="true"></i>
				<h3>Verbinden</h3>
				<p>Der Code <strong>{{ rep.id }}</strong> verbindet dich automatisch mit {{ rep }}.</p>
			</div>
			<div>
				<i class="fa fa-comments fa-5x" aria-hidden="true"></i>
				<h3>Sprechen</h3>
				<p>Sprich mit {{ rep }} und erkläre, wieso wir das Überwachungspaket verhindern müssen.</p>
			</div>
		</div>
	</section>
	{% endif %}
	{% if rep.contact.mail|length > 0 %}
	<section id="email-senden">
		<h2><a name="email"></a><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i> E-Mail senden</h2>
		<form id="mail" autocomplete="off" class="shrunk" action="{{ url_for('mail') }}" method="post">
			{% with messages = get_flashed_messages() -%}
				{% if messages -%}
					{% for message in messages -%}
						<p>{{ message }}</p>
					{% endfor -%}
				{% endif -%}
			{% endwith -%}
			<div class="row row-space align-left">
				<div class="column">
					<label for="mail-firstname">Vorname *</label>
					<input type="text" name="firstname" id="mail-firstname" required="required">
				</div>
				<div class="column">
					<label for="mail-lastname">Nachname *</label>
					<input type="text" name="lastname" id="mail-lastname" required="required">
				</div>
				<div class="column">
					<label for="mail-email">E-Mail *</label>
					<input type="email" name="email" id="mail-email" required="required">
				</div>
				<div class="column">
					<label for="mail-newsletter" class="space"><input type="checkbox" name="newsletter" id="mail-newsletter" value="yes">Newsletter abonnieren</label>
				</div>
			</div>
			<p class="small">* Pflichtfeld</p>
			<input type="hidden" name="id" value="{{ rep.id }}" />
			<div class="textarea">{{ config['MAIL_REPRESENTATIVE']|e }}</div>
			<button class="btn btn-default">Senden</button>
			<p class="center small indent">Wenn du diese Nachricht abändern möchtest, kannst du die E-Mail <a href="mailto:{{ rep.contact.mail }}?subject=%C3%9Cberwachungspaket">direkt</a> verschicken.</p>
		</form>
	</section>
	{% endif %}

<script>
	MailNameTo = "{{ rep }}";
	MailSalutation = "{{ rep.salutation }}";
</script>
{% endblock %}
