{% extends "layout.html" %}
{% set active_page = "share" %}

{% block title %}
	<title>Rede über Überwachung | {{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

{% block content %}
	<section id="wie-kann-ich-helfen">
		<div class="container">
			<h2>Wie kann ich helfen?</h2>
			<div class="row">
				<div class="column">
					<h4>Sprich über Überwachung</h4>
					<p>Erzähle deinen Freundinnen, Freunden und Verwandten von dieser Seite, was die Regierung vorhat und warum auch sie davon betroffen sind.</p>
					<div class="row bottom">
						<a class="share center" href="http://www.facebook.com/sharer.php?u=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F" target="_blank">
							<div class="center"><i class="fa fa-facebook" aria-hidden="true"></i></div>
						</a>
						<a class="share center" href="https://twitter.com/intent/tweet?url=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F&text=Stoppt%20das%20%C3%9Cberwachungspaket%21&hashtags=%C3%BCberwachungspaket&related=epicenter%5Fworks%3Aepicenter%2Eworks" target="_blank">
							<div class="center"><i class="fa fa-twitter" aria-hidden="true"></i></div>
						</a>
						<a class="share center" href="https://plus.google.com/share?url=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F" target="_blank">
							<div class="center"><i class="fa fa-google-plus" aria-hidden="true"></i></div>
						</a>
					</div>
				</div>
				<div class="column">
					<h4>Spenden</h4>
					<p>Als unabhängige, gemeinnützige Bürgerrechtsorganisation ist epicenter.works auf finanzielle Unterstützung angewiesen. Individuelle Spenden aus der Zivilgesellschaft ermöglichen unsere Arbeit für die Verteidigung der Grund- und Freiheitsrechte im digitalen Zeitalter. Mit eurer Hilfe werden wir alles unternehmen, damit falsch verstandene Sicherheitspolitik in Österreich nicht die Freiheit aller Menschen einschränkt.</p>
					<a class="btn btn-default bottom" href="https://spenden.epicenter.works/" target="_blank">Jetzt spenden</a>
				</div>
				<div class="column">
					<h4>Abonnieren</h4>
					<p>epicenter.works hält Interessierte immer auf dem neuesten Stand. Wenn du über Neuigkeiten zu digitalen Bürgerrechten Bescheid wissen und über das Überwachungspaket am Laufenden bleiben möchtest, kannst du dich hier für den Newsletter eintragen.</p>
					<form class="row bottom" action="https://lists.akvorrat.at/subscribe/vds-info" method="post">
						<input name="email" placeholder="E-Mail" type="email" class="stick" />
						<button class="btn btn-back stick">Abonnieren</button>
					</form>
				</div>
				<div class="column">
					<h4>Mitmachen</h4>
					<p>Im Einsatz gegen Überwachung brauchen wir immer wieder helfende Hände und kreative Köpfe, die sich bei unseren Projekten und Aktionen einbringen.</p>
					<a class="btn btn-back bottom" href="https://epicenter.works/mitmachen" target="_blank">Mitmachen</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
