{% extends "layout.html" %}
{% set active_page = "supporters" %}

{% block title %}
	<title>Unsere Unterstützer | {{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

{% block content %}
	<section id="supporters">
		<div class="container">
			<h2>Unsere Unterstützer</h2>
			{% set supporter_items = [
				("epicenter.works", "https://epicenter.works", "epicenter.jpg"),
				("Aktive Arbeitslose Österreich", "http://www.aktive-arbeitslose.at", "aktive-arbeitslose.jpg"),
				("Amnesty International Österreich", "https://www.amnesty.at", "amnesty.jpg"),
				("Attac", "http://www.attac.at", "attac.jpg"),
				("Chaos Computer Club Wien", "https://c3w.at", "c3w.jpg"),
				("Die Bäckerei", "http://www.diebaeckerei.at", "die_baeckerei.jpg")
				("Forum Informationsfreiheit", "https://www.informationsfreiheit.at", "informationsfreiheit.png"),
				("Freischreiber Österreich", "http://www.freischreiber.at", "freischreiber.jpg"),
				("IG Kultur Wien", "http://www.igkulturwien.net", "igkw.jpg"),
				("Mehr Demokratie!", "https://www.mehr-demokratie.at", "md.jpg"),
				("Quintessenz", "http://www.quintessenz.at", "quintessenz.png"),
				("Südwind", "https://www.suedwind.at", "suedwind.jpg"),
				("Verein gegen Tierfabriken", "https://vgt.at", "vgt.jpg"),
				("Vienna Centre For Societal Security", "http://vicesse.eu", "VICESSE.png"),
			] -%}

			<ul class="row">
				{% for name, href, img in supporter_items -%}
					<a href="{{ href }}"><img src="{{ url_for('static', filename='img/supporter/' + img) }}" /></a>
				{% endfor -%}
			</ul>
		</div>
	</section>
{% endblock %}
