{% extends "layout.html" %}
{% set active_page = "general.faq" %}

{% block title %}
	<title>Häufig gestellte Fragen | {{ config['PROJECT_NAME'] }}</title>
{% endblock title %}

{% block content %}
	<section class="chat">
		<div class="container">
			<h1>Häufig gestellte Fragen</h1>
			<h2>An der Konsultation teilnehmen</h2>
			<ul>
				<li>
					<div class="avtxt">
					<h3>Was ist eine Konsultation/Begutachtung?</h3>
					</div>
				</li>
				<li>
					<p>Die Konsultation zu einem Gesetzesvorhaben wird in Österreich auch Begutachtung genannt. Dabei holen die zuständigen Ministerien zu ihren Gesetzesentwürfen in Form von Stellungnahmen Meinungen und Analysen zu ihren Gesetzesentwürfen ein. Im Idealfall werden die Gesetzesentwürfe dann anhand dieser Rückmeldungen überarbeitet und von der Regierung als Regierungsvorlage im Parlament eingereicht.</p>
				</li>
				<li>
					<div class="avtxt">
						<h3>Warum kann ich meine Stellungnahmen nicht anonym abgeben?</h3>
					</div>
				</li>
				<li>
					<p>Als Verein, der Privatsphäre verteidigt, würden wir diese Möglichkeit gerne anbieten. Allerdings akzeptiert das Parlament keine anonymen Stellungnahmen und veröffentlicht die Namen der Einreichenden. Darauf haben wir leider keinen Einfluss.</p>
				</li>
				<li>
					<div class="avtxt">
						<h3>Kann ich meine Stellungnahme vor dem Absenden noch bearbeiten?</h3>
					</div>
				</li>
				<li>
					<p>Ja! Individuelle Abänderungen der Stellungnahmen sind sogar explizit erwünscht. Wir wollen es mit unserem Tool so einfach wie möglich machen am Gesetzgebungsprozess in Österreich teilzunehmen. Dazu stellen wir Textvorschläge zur Verfügung, aber das Begutachtungsverfahren lebt von der Vielfalt der Argumenten. Wenn du dich also bei einem Thema besser auskennst oder gewisse Aspekte anders siehst, kannst du auf der zweiten Seite deine Stellungnahme noch ergänzen.</p>
				</li>
				<li>
					<div class="avtxt">
						<h3>Ich finde gut, dass ihr euch gegen mehr Überwachung einsetzt, bin aber nicht mit allen Punkten einverstanden.</h3>
					</div>
				</li>
				<li>
					<p>Sehr gut! Wir haben alle, für uns relevanten, Punkte aus den Ministerialentwürfen kommentiert, aber letztlich kommt es auf deine persönliche Meinung an. Deshalb kannst du jeden der einzelnen Punkte per Mausklick abwählen. Oder eigene hinzufügen, siehe oben.</p>
				</li>
				<li>
					<div class="avtxt">
						<h3>Ich will meine bereits abgegebene Stellungnahme nachträglich abändern, geht das?</h3>
					</div>
				</li>
				<li>
					<p>Sehr gut! Wir haben alle, für uns relevanten, Punkte aus den Ministerialentwürfen kommentiert, aber letztlich kommt es auf deine persönliche Meinung an. Deshalb kannst du jeden der einzelnen Punkte per Mausklick abwählen. Oder eigene hinzufügen, siehe oben.</p>
				</li>
				<li>
					<div class="avtxt">
						<h3>Ich will meine bereits abgegebene Stellungnahme nachträglich abändern, geht das?</h3>
					</div>
				</li>
				<li>
					<p>Ja, das kannst du. Jedoch nicht über unsere Seite. Wir haben uns aus Gründen der Spamvorbeugung dazu entschlossen, nachträgliche Änderungen nicht über unsere Seite abzuwickeln. Wenn du deine Stellungnahme also abändern willst, musst du dir die Texte kopieren, abändern, ein PDF generieren (z.B. mithilfe von Libre Office) und dieses per Mail sowohl an das zuständige Ministerium (<a href="mailto:bmi-III-1@bmi.gv.at">BMI</a> bzw. <a href="mailto:team.s@bmj.gv.at">BMJ</a>) als auch ans <a href="mailto:begutachtungsverfahren@parlament.gv.at">Parlament</a> senden.</p>
				</li>
				<li>
					<div class="avtxt">
						<h3>Wo werden die abgegebenen Stellungnahmen veröffentlicht?</h3>
					</div>
				</li>
				<li>
					<p>Alle Begutachtungsverfahren und Stellungnahmen sind auf dem Website des Parlaments unter <a href="https://www.parlament.gv.at/PAKT/MESN/">den Begutachtungen</a> zu finden. Die beiden aktuellen Entwürfe zum Überwachungspaket findet man unter dem <a href="https://www.parlament.gv.at/PAKT/VHG/XXV/ME/ME_00325/index.shtml">Strafprozessrechtsänderungsgesetz</a> bzw. dem <a href="https://www.parlament.gv.at/PAKT/VHG/XXV/ME/ME_00326/index.shtml">Bundesgesetz mit dem  das Sicherheitspolizeigesetz, das Bundesstraßen-Mautgesetz, die Straßenverkehrsordnung und das Telekommunikationsgesetz geändert werden</a> online.</p>
				</li>
			</ul>
			<h2>Anderes</h2>
			<ul>
				<li>
					<div class="avtxt">
						<h3>Wer seid ihr?</h3>
					</div>
				</li>
				<li>
					<p>
						Diese Kampagne wurde initiiert von <a href="https://epicenter.works/" target="_blank">epicenter.works</a> (vormals AKVorrat), einem Verein, der sich für die Wahrung von Grundrechten im digitalen Zeitalter einsetzt. Es gibt einige Organisationen, die diese Kampagne gegen das Überwachungspaket unterstützen. Gemäß unserem Slogan "Zivilgesellschaft wirkt!" sind wir offen für weitere Kooperationen. Falls Ihre Organisation beitragen möchte, wenden Sie sich bitte an uns: <a href="https://epicenter.works/kontakt" target="_blank">https://epicenter.works/kontakt</a>
					</p>
				</li>
				<li>
					<div class="avtxt">
						<h3>Warum macht ihr das?</h3>
					</div>
				</li>
				<li>
					<p>Weil wir uns Demokratie und Freiheit nicht nehmen lassen wollen.</p>
				</li>
				<li>
					<div class="avtxt">
						<h3>Wer finanziert euch?</h3>
					</div>
				</li>
				<li>
					<p>
						Der Großteil unseres Budgets kommt von Einzelspenden aus der Zivilgesellschaft. Die Spenden von Firmen haben wir <a href="https://epicenter.works/spenden-faq">gedeckelt</a>, da wir unsere Arbeit nur machen können, wenn wir unabhängig sind. Gelder aus öffentlicher Hand haben wir bis jetzt noch nie angenommen. In unserem jährlichen <a href="https://epicenter.works/transparenz">Transparenzbericht</a> findest du die genauen Zahlen. Wir sind für unsere Unabhängigkeit darauf angewiesen, möglichst viele Einzelspenden zu bekommen. Wenn du unsere Arbeit gut findest, bitte unterstütze uns <a href="https://spenden.epicenter.works">spenden.epicenter.works</a>.
					</p>
				</li>
				<li>
					<div class="avtxt">
						<h3>Wie kann ich bei euch mitmachen?</h3>
					</div>
				</li>
				<li>
					<p>
						Wir verstehen uns als Plattform und Stimme für zivilgesellschaftliches Engagement für Grund- und Freiheitsrechte im digitalen Zeitalter. Bei uns kann man ganz einfach mitmachen, indem man sich auf der <a href="https://epicenter.works/mitmachen">Mitmachen-Seite</a> anmeldet oder zum monatlich stattfindenden <a href="https://epicenter.works/tags/Veranstaltungen">Netzpolitischen Abend</a> kommt. Der Großteil unserer Arbeit wird von Ehrenamtlichen gemacht. Wir freuen uns über alle konstruktiven Menschen, die sich in ihrer Demokratie einbringen wollen.
					</p>
				</li>
				<li>
					<div class="avtxt">
						<h3>Wie funktioniert diese Website?</h3>
					</div>
				</li>
				<li>
					<p>
						Dank großartiger Menschen, die die Funktionen dieser Seite unbezahlt programmiert haben, funktioniert sie hervorragend. Im Ernst: Du kannst über diese Seite Kontakt mit Regierungsmitgliedern und Abgeordneten aufnehmen und mit ihnen über Überwachung reden. Frage sie nach einer Wirkungsfolgenabschätzung für neue Überwachungsgesetze. Frage sie nach einer Überwachungsgesamtrechnung. Frage sie, warum die Einschränkung deiner Rechte mehr Sicherheit bringen soll.
					</p>
				</li>
			</ul>

			<h2>Geschlechtergerechte Sprache</h2>
			<ul>
				<li>
					<div class="avtxt">
						<h3>Warum werden nicht alle Geschlechter angesprochen?</h3>
					</div>
				</li>
				<li>
					<p>
						Uns als Betreibern dieser Website fehlt es nicht an Sensibilität für geschlechtergerechte Sprache. Da die Kürze vor allem bei der Telefonfunktion sehr bedeutsam ist, haben wir uns schweren Herzens für das generische Maskulinum entschieden und das dann auch in den Texten der Website verwendet. Das ist ein Kompromiss. Wir bitten um Nachsicht!
					</p>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}
