{% extends "layout.html" %}
{% set active_page = "general.faq" %}

{% block title %}
    <title>Häufig gestellte Fragen | {{ config['PROJECT_NAME'] }}</title>
{% endblock title %}

{% block content %}
    <section class="chat">
        <div class="container">
            <h1>Häufig gestellte Fragen</h1>
            <ul>
                <li>
                    <div class="avtxt">
                        <h3>Wer seid ihr?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Diese Kampagne wurde initiiert von <a href="https://epicenter.works/" target="_blank">epicenter.works</a> (vormals AKVorrat), einem Verein, der sich für die Wahrung von Grundrechten im digitalen Zeitalter einsetzt. Es gibt einige Organisationen, die diese Kampagne gegen das Überwachungspaket unterstützen. Gemäß unserem Slogan "Zivilgesellschaft wirkt!" sind wir offen für weitere Kooperationen. Falls deine Organisation beitragen möchte, wende dich bitte an uns: <a href="https://epicenter.works/kontakt" target="_blank">https://epicenter.works/kontakt</a>
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Warum macht ihr das?</h3>
                    </div>
                </li>
                <li>
                    <p>Weil wir uns Demokratie und Freiheit nicht nehmen lassen wollen.</p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Wer finanziert euch?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Der Großteil unseres Budgets kommt von Einzelspenden aus der Zivilgesellschaft. Die Spenden von Firmen haben wir <a href="https://epicenter.works/spenden-faq">gedeckelt</a>, da wir unsere Arbeit nur machen können, wenn wir unabhängig sind. Gelder aus öffentlicher Hand haben wir bis jetzt noch nie angenommen. In unserem jährlichen <a href="https://epicenter.works/transparenz">Transparenzbericht</a> findest du die genauen Zahlen. Wir sind für unsere Unabhängigkeit darauf angewiesen, möglichst viele Einzelspenden zu bekommen. Wenn du unsere Arbeit gut findest, bitte unterstütze uns <a href="https://spenden.epicenter.works">spenden.epicenter.works</a>.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Wie kann ich bei euch mitmachen?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Wir verstehen uns als Plattform und Stimme für zivilgesellschaftliches Engagement für Grund- und Freiheitsrechte im digitalen Zeitalter. Bei uns kann man ganz einfach mitmachen, indem man sich auf der <a href="https://epicenter.works/mitmachen">Mitmachen-Seite</a> anmeldet oder zum monatlich stattfindenden <a href="https://epicenter.works/tags/Veranstaltungen">Netzpolitischen Abend</a> kommt. Der Großteil unserer Arbeit wird von Ehrenamtlichen gemacht. Wir freuen uns über alle konstruktiven Menschen, die sich in ihrer Demokratie einbringen wollen.
                    </p>
                </li>
                <!--<li>
                    <div class="avtxt">
                        <h3>Warum werden nicht alle Geschlechter angesprochen?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Uns als Betreibern dieser Website fehlt es nicht an Sensibilität für geschlechtergerechte Sprache. Da die Kürze vor allem bei der Telefonfunktion sehr bedeutsam ist, haben wir uns schweren Herzens für das generische Maskulinum entschieden und das dann auch in den Texten der Website verwendet. Das ist ein Kompromiss. Wir bitten um Nachsicht!
                    </p>
                </li>-->
                <li>
                    <div class="avtxt">
                        <h3>Was passiert bei dieser Kampagne?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Wir versuchen, den neuen Versuch abzuwehren, ein Überwachungspaket in Österreich zu beschließen. Die schwarz-blaue Regierung will unsere Grundrechte auf Datenschutz und Meinungsfreiheit massiv einschränken. Wir wollen die geplanten gesetzlichen Verschärfungen verhindern. Dazu wollen wir möglichst vielen Menschen eine einfache Beteiligungsmöglichkeit im parlamentarischen Verfahren geben. Auf dieser Kampagnenwebsite kannst du dich registrieren und du bekommst von uns für jede neue kritische Stellungnahme gegen die geplanten Gesetze eine Nachricht. Dann kannst deine Zustimmung auf der Parlamentswebsite mit einem "Daumen hoch" geben. Je mehr Menschen das tun, umso stärker ist das Zeichen gegen Überwachung.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Also was genau passiert hier?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Jemand gibt eine kritische Stellungnahme gegen das Überwachungspaket ab, das können aller Menschen auf der Parlamentswebsite machen <a href="https://www.parlament.gv.at/PAKT/VHG/XXVI/AUA/AUA_00004/index.shtml">hier</a> und <a href="https://www.parlament.gv.at/PAKT/VHG/XXVI/AUA/AUA_00001/index.shtml">hier</a>. Wenn jemand eine Stellungnahme abgibt, können andere Menschen diese Stellungnahme unterstützen. Dazu muss man persönliche Daten auf der Parlamentswebsite angeben und die österreichische Staatsbürgerschaft haben. Diesen Prozess wollen wir in unserer Kampagne nutzen. Unser Ziel ist, möglichst viel Zustimmung für die kritischen Stimmen zu sammeln. Die <a href="https://www.parlament.gv.at/DSH/index.shtml">Datenschutzerklärung des österreichischen Parlaments</a> ist die Voraussetzung für die Beteiligung auf deren Website.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Und spammt ihr mich dann zu und verkauft meine Daten?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Nein. Wir halten uns mit unseren Nachrichten so weit es geht zurück und melden uns nur zu Wort, wenn es wirklich etwas zu berichten oder zu tun gibt. Wenn viele Stellungnahmen gehäuft auf der Parlamentswebsite online gehen, kann es durchaus sein, dass wir mehrere Nachrichten schicken. Das wird aber nur kurze Zeit der Fall sein, da dieses Begutachtungsverfahren am 28. März 2018 endet. Wir befürchten, dass  Regierung bald wieder versuchen wird, unsere Grund- und Freiheitsrechte einzuschränken. Wenn wir wieder eine Chance sehen, diese Angriffe zu abzuwehren, werden wir wieder aktiv und kommen dich zu. Für alle weiteren Fragen verweisen wir auf <a href="https://überwachungspaket.at/datenschutz/">unsere Datenschutzerklärung</a>, die in einfachen Worten erklärt, wie wir mit deinen Daten umgehen. Wir sind ansonsten <a href="https://epicenter.works/kontakt">für Fragen erreichbar</a>.
                    </p>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
