{% extends "layout.html" %}
{% set active_page = "general.faq" %}

{% block title %}
    <title>Häufig gestellte Fragen | {{ config['PROJECT_NAME'] }}</title>
{% endblock title %}

{% block content %}
    <section class="chat">
        <div class="container">
            <h1>Häufig gestellte Fragen</h1>
            <ul>
                <li>
                    <div class="avtxt">
                        <h3>Wer seid ihr?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Diese Kampagne wurde initiiert von <a href="https://epicenter.works/" target="_blank">epicenter.works</a> (vormals AKVorrat), einem Verein, der sich für die Wahrung von Grundrechten im digitalen Zeitalter einsetzt. Es gibt einige Organisationen, die diese Kampagne gegen das Überwachungspaket unterstützen. Gemäß unserem Slogan "Zivilgesellschaft wirkt!" sind wir offen für weitere Kooperationen. Falls Ihre Organisation beitragen möchte, wenden Sie sich bitte an uns: <a href="https://epicenter.works/kontakt" target="_blank">https://epicenter.works/kontakt</a>
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Warum macht ihr das?</h3>
                    </div>
                </li>
                <li>
                    <p>Weil wir uns Demokratie und Freiheit nicht nehmen lassen wollen.</p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Wer finanziert euch?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Der Großteil unseres Budgets kommt von Einzelspenden aus der Zivilgesellschaft. Die Spenden von Firmen haben wir <a href="https://epicenter.works/spenden-faq">gedeckelt</a>, da wir unsere Arbeit nur machen können, wenn wir unabhängig sind. Gelder aus öffentlicher Hand haben wir bis jetzt noch nie angenommen. In unserem jährlichen <a href="https://epicenter.works/transparenz">Transparenzbericht</a> findest du die genauen Zahlen. Wir sind für unsere Unabhängigkeit darauf angewiesen, möglichst viele Einzelspenden zu bekommen. Wenn du unsere Arbeit gut findest, bitte unterstütze uns <a href="https://spenden.epicenter.works">spenden.epicenter.works</a>.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Wie kann ich bei euch mitmachen?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Wir verstehen uns als Plattform und Stimme für zivilgesellschaftliches Engagement für Grund- und Freiheitsrechte im digitalen Zeitalter. Bei uns kann man ganz einfach mitmachen, indem man sich auf der <a href="https://epicenter.works/mitmachen">Mitmachen-Seite</a> anmeldet oder zum monatlich stattfindenden <a href="https://epicenter.works/tags/Veranstaltungen">Netzpolitischen Abend</a> kommt. Der Großteil unserer Arbeit wird von Ehrenamtlichen gemacht. Wir freuen uns über alle konstruktiven Menschen, die sich in ihrer Demokratie einbringen wollen.
                    </p>
                </li>
                <li>
                    <div class="avtxt">
                        <h3>Warum werden nicht alle Geschlechter angesprochen?</h3>
                    </div>
                </li>
                <li>
                    <p>
                        Uns als Betreibern dieser Website fehlt es nicht an Sensibilität für geschlechtergerechte Sprache. Da die Kürze vor allem bei der Telefonfunktion sehr bedeutsam ist, haben wir uns schweren Herzens für das generische Maskulinum entschieden und das dann auch in den Texten der Website verwendet. Das ist ein Kompromiss. Wir bitten um Nachsicht!
                    </p>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
