{% extends "layout.html" %}
{% set active_page = "general.index" %}

{% block title %}
	<title>{{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

{% block header %}
	<div class="banner">
		<img src="static/img/header_uepa.jpg" class="visible-desktop">
		<img src="static/img/header_uepa_mobile.jpg" class="visible-mobile">
	</div>
{% endblock %}

{% block content %}
<div class="frontpage-content">
	<section>
		<div class="container">
			<h2>Das Überwachungspaket ist wieder da</h2>
			<p>
				Die schwarz-blaue Regierung hat am 21. Februar 2018 eine Neuauflage des Überwachungspakets vorgestellt. Die Kritik an dieser beispiellosen Einschränkung unserer Freiheit gilt nach wie vor. Wir brauchen echte Sicherheit statt mehr Überwachung. Dafür werden wir weiter mit aller Kraft eintreten. Wir brauchen deine Unterstützung! Bald gibt's hier mehr dazu.
			</p>
		</div>
		<div class="container"> 
            <p class="center" style="margin: 15px; max-width: 100%">
    			<img src="static/img/video-demo-uepa2.jpg" class="video-embed" data-vid="iJ9kZqZFwf0" width="560" height="315">
            </p>
		</div>
		<div class="container">
			<h3 class="center">Bleib am Laufenden</h3>
			<div class="row bottom">
				<a class="share center" href="http://www.facebook.com/epicenter.works">
					<div class="center"><i class="fa fa-facebook" aria-hidden="true"></i></div>
				</a>
				<a class="share center" href="https://twitter.com/epicenter_works">
					<div class="center"><i class="fa fa-twitter" aria-hidden="true"></i></div>
				</a>
				<a class="share center" href="https://epicenter.works/newsletter">
					<div class="center"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
				</a>
			</div>
		</div>
	</section>
	<section id="topics">
		<div class="container">
			<h2 class="center">Das steckt im Überwachungspaket</h2>
			<div class="row items3">
				<div class="column">
					<div class="c-block">
						<div class="center"><img src="static/img/icons/Trojaner.png"></div>
						<h4>Staatliche Spionagesoftware (Bundestrojaner)</h4>
					</div>
				</div>
				<div class="column">
					<div class="c-block">
						<div class="center"><img src="static/img/icons/totaleVideoueberwachung.png"></div>
						<h4>Verstärkte Videoüberwachung</h4>
					</div>
				</div>
				<div class="column">
					<div class="c-block">
						<div class="center"><img src="static/img/icons/IMSI.png"></div>
						<h4>IMSI-Catcher</h4>
					</div>
				</div>
				<div class="column">
					<div class="c-block">
						<div class="center"><img src="static/img/icons/LauschangriffAuto.png"></div>
						<h4>Lauschangriff im Auto</h4>
					</div>
				</div>
				<div class="column">
					<div class="c-block">
						<div class="center"><img src="static/img/icons/Verkehrsueberwachung.png"></div>
						<h4>Überwachung im Straßenverkehr</h4>
                    </div>
				</div>
				<div class="column">
					<div class="c-block">
						<div class="center"><img src="static/img/icons/Vorratsdaten.png"></div>
						<h4>Vorratsdatenspeicherung 2.0</h4>
					</div>
				</div>
				<div class="column">
					<div class="c-block">
						<div class="center"><img src="static/img/icons/SIM-ID.png"></div>
						<h4>Registrierungspflicht für Wertkarten</h4>
					</div>
				</div>
				<div class="column">
					<div class="c-block">
						<div class="center"><img src="static/img/icons/Briefgeheimnis.png"></div>
						<h4>Beschlagnahmung von Briefen</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="sicherheit">
		<div class="container">
			<h2>Echtes Sicherheitspaket statt Überwachungspaket</h2>
			<p>Im Überwachungspaket der Regierung ist keine wirkliche Sicherheit enthalten. Statt "subjektivem" Sicherheitsgefühl, Angstmache und Populismus brauchen wir ein "objektives" Sicherheitspaket:</p>
			<ul class="fa-ul">
				<li><i class="fa-li fa fa-check-square"></i>mehr spezifisch ausgebildete Polizeikräfte statt mehr Kameras</li>
				<li><i class="fa-li fa fa-check-square"></i>verbesserte Analysekapazitäten für Sicherheitsbehörden: Mehr speziell ausgebildete Datenanalysten statt mehr Daten</li>
				<li><i class="fa-li fa fa-check-square"></i>mehrsprachige Polizeikräfte bzw. mehr Dolmetscherkapazitäten</li>
				<li><i class="fa-li fa fa-check-square"></i>mehr Präventionsarbeit gegen Radikalisierungstendenzen</li>
				<li><i class="fa-li fa fa-check-square"></i>bessere Vernetzung mit Communities als vertrauensbildende Maßnahmen und zur frühzeitigen Erkennung radikaler Tendenzen</li>
				<li><i class="fa-li fa fa-check-square"></i>ein Ablaufdatum für neue Überwachungsgesetze ("Sunset Clauses" mit wissenschaftlicher Evaluierung und Rücknahme wirkungsloser Maßnahmen)</li>
				<li><i class="fa-li fa fa-check-square"></i>Evaluierung aller bestehenden Überwachungsgesetze auf ihre Verfassungskonformität</li>
			</ul>
		</div>
	</section>
</div>
{% endblock %}
