{% extends "layout.html" %}
{% set active_page = "general.index" %}

{% block title %}
    <title>{{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

{% block header %}
    <div class="banner">
        <img src="static/img/header_uepa.jpg" class="visible-desktop">
        <img src="static/img/header_uepa_mobile.jpg" class="visible-mobile">
    </div>
{% endblock %}

{% block content %}
<div class="frontpage-content">
    <section id="be-active">
        <div class="container">
            <h2>Werde aktiv!</h2>
            <div class="row items3">
                <div class="column">
                    <div class="be-active-block">
                        <div class="center"><img src="static/img/icons/werde-aktiv_01.png" alt="Werde aktiv Clipboard"></div>
                        <div class="center"><h4>1. E-Mail-Adresse<br>(und Rufnummer) angeben</h4></div>
                    </div>
                </div>
                <div class="column">
                    <div class="be-active-block">
                        <div class="center"><img src="static/img/icons/werde-aktiv_02.png" alt="Werde aktiv Unterstützung"></div>
                        <div class="center"><h4>2. Aktuelle Infos erhalten,<br>wie du aktiv werden kannst</h4></div>
                    </div>
                </div>
                <div class="column">
                    <div class="be-active-block">
                        <div class="center"><img src="static/img/icons/werde-aktiv_03.png" alt="Werde aktiv Brief"></div>
                        <div class="center"><h4>3. Kritischer Stellungnahme auf der<br>Parlamentswebsite zustimmen</h4></div>
                    </div>
                </div>
                <div class="center">
                    <div class="button blue" id="be-active-button">Jetzt anmelden</div>
                </div>
            </div>
        </div>
        <div class="container" style="display: none">
            <h2>Jetzt anmelden</h2>
            <div class="row items1">
                <div>Nach deiner Anmeldung erhältst du aktuelle Informationen, wie du gegen Überwachung und für Freiheit aktiv werden kannst. Wir informieren dich zum Beispiel, sobald neue kritische Stellungnahmen zum Überwachungspaket auf der Parlamentswebsite verfügbar sind, denen du zustimmen kannst. Mehr dazu in unserer <a href="/datenschutz/">Datenschutzerklärung</a>.</div>
                <form id="be-active-form" action="/join/" method="post">
                    <input type="email" placeholder="E-Mail-Adresse (Pflichtfeld)" name="email">
                    <input type="text" placeholder="Rufnummer (optional)" name="phonenumber" maxlength="20">
                    <button type="submit" class="button blue">Abschicken</button>
                    <div id="be-active-server-error"></div>
                </form>
            </div>
        </div>
        <div class="container" style="display: none">
            <h2><i class="fa fa-thumbs-o-up"></i></h2>
            <h2>Vielen Dank für Deine Unterstützung</h2>
            <div class="center">
                <div class="button blue" id="be-active-back">Zurück</div>
            </div>
        </div>
    </section>
    <section id="topics">
        <div class="container">
            <h2 class="center">Das steckt im Überwachungspaket</h2>
            <div class="row items4">
                <div class="column">
                    <a href="https://epicenter.works/thema/ueberwachungspaket#Bundestrojaner">
                        <div class="c-block">
                            <div class="center"><img src="static/img/icons/up_graphic01.png"></div>
                            <h4>Staatliche Spionagesoftware (Bundestrojaner)</h4>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="https://epicenter.works/thema/ueberwachungspaket#Videoueberwachung">
                        <div class="c-block">
                            <div class="center"><img src="static/img/icons/up_graphic02.png"></div>
                            <h4>Verstärkte Videoüberwachung</h4>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="https://epicenter.works/thema/ueberwachungspaket#IMSI">
                        <div class="c-block">
                            <div class="center"><img src="static/img/icons/up_graphic03.png"></div>
                            <h4>IMSI-Catcher</h4>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="https://epicenter.works/thema/ueberwachungspaket#LauschangriffPKW">
                        <div class="c-block">
                            <div class="center"><img src="static/img/icons/up_graphic04.png"></div>
                            <h4>Lauschangriff im Auto</h4>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="https://epicenter.works/thema/ueberwachungspaket#Kennzeichenerfassung">
                        <div class="c-block">
                            <div class="center"><img src="static/img/icons/up_graphic05.png"></div>
                            <h4>Überwachung im Straßenverkehr</h4>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="https://epicenter.works/thema/ueberwachungspaket#VDS">
                        <div class="c-block">
                            <div class="center"><img src="static/img/icons/up_graphic06.png"></div>
                            <h4>Vorratsdatenspeicherung 2.0</h4>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="https://epicenter.works/thema/ueberwachungspaket#Wertkarten">
                        <div class="c-block">
                            <div class="center"><img src="static/img/icons/up_graphic07.png"></div>
                            <h4>Registrierungspflicht für Wertkarten</h4>
                        </div>
                    </a>
                </div>
                <div class="column">
                    <a href="https://epicenter.works/thema/ueberwachungspaket#Briefgeheimnis">
                        <div class="c-block">
                            <div class="center"><img src="static/img/icons/up_graphic08.png"></div>
                            <h4>Einschränkung des Briefgeheimnisses</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="quotes">
        <div class="container">
            <h2 class="center">Kritik am Überwachungspaket</h2>
            {% include "general/quotes.html" %}
        </div>
        <div class="center">
            <a href="#quotes" onclick="toggleQuotesCarousel(this);">
                <i class="fa fa-angle-down"></i> Alle Stellungnahmen</a>
        </div>
    </section>
    <section id="sicherheit">
        <div class="container">
            <h2>Sicherheit statt Überwachung</h2>
            <p>Im Überwachungspaket der Regierung ist keine wirkliche Sicherheit enthalten. Statt "subjektivem" Sicherheitsgefühl, Angstmache und Populismus brauchen wir ein "objektives" Sicherheitspaket:</p>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-check-square"></i>mehr spezifisch ausgebildete Polizeikräfte statt mehr Kameras</li>
                <li><i class="fa-li fa fa-check-square"></i>verbesserte Analysekapazitäten für Sicherheitsbehörden: Mehr speziell ausgebildete Datenanalysten statt mehr Daten</li>
                <li><i class="fa-li fa fa-check-square"></i>mehrsprachige Polizeikräfte bzw. mehr Dolmetscherkapazitäten</li>
                <li><i class="fa-li fa fa-check-square"></i>mehr Präventionsarbeit gegen Radikalisierungstendenzen</li>
                <li><i class="fa-li fa fa-check-square"></i>bessere Vernetzung mit Communities als vertrauensbildende Maßnahmen und zur frühzeitigen Erkennung radikaler Tendenzen</li>
                <li><i class="fa-li fa fa-check-square"></i>ein Ablaufdatum für neue Überwachungsgesetze ("Sunset Clauses" mit wissenschaftlicher Evaluierung und Rücknahme wirkungsloser Maßnahmen)</li>
                <li><i class="fa-li fa fa-check-square"></i>Evaluierung aller bestehenden Überwachungsgesetze auf ihre Verfassungskonformität</li>
                <li><i class="fa-li fa fa-check-square"></i>Verankerung eines Grundrechts auf Integrität informationstechnischer Systeme in der Verfassung</li>
            </ul>
        </div>
    </section>
</div>
{% endblock %}
