{% extends "layout.html" %}
{% set active_page = "general.share" %}

{% block title %}
    <title>Sprich über Überwachung | {{ config['PROJECT_NAME'] }}</title>
{% endblock title%}

{% block content %}
    <section id="wie-kann-ich-helfen">
        <div class="container">
            <h2>Wie kann ich helfen?</h2>
            <div class="row items2">
                <div class="column">
                    <h4>Sprich über Überwachung</h4>
                    <p>Erzähle deinen Freundinnen, Freunden und Verwandten von dieser Seite, was die Regierung vorhat und warum auch sie davon betroffen sind.</p>
                    <div class="row bottom">
                        <a class="share center" href="http://www.facebook.com/sharer.php?u=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F">
                            <div class="center"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                        <a class="share center" href="https://twitter.com/intent/tweet?url=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F&amp;text=Nimm%20Stellung%20gegen%20lückenlose%20Überwachung.%20Stoppen%20wir%20das%20%23Überwachungspaket!&amp;related=epicenter%5Fworks%3Aepicenter%2Eworks">
                            <div class="center"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        </a>
                        <a class="share center" href="https://plus.google.com/share?url=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F">
                            <div class="center"><i class="fa fa-google-plus" aria-hidden="true"></i></div>
                        </a>
                        <a class="share center" href="mailto:?subject=Überwachungspaket&amp;body=Hallo,%0A%0AIch%20habe%20Stellung%20gegen%20das%20Überwachungspaket%20genommen.%20Sag%20Innenminister%20Sobotka%20und%20Justizminister%20Brandstetter,%20dass%20du%20nicht%20lückenlos%20überwacht%20werden%20willst.%0A%0ALiebe%20Grüße,">
                            <div class="center"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                        </a>
                        <a class="share share-mobile center" href="fb-messenger://share/?link=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F">
                            <div class="center"><i class="fb-messenger"></i></div>
                        </a>
                        <a class="share share-mobile center" href="sms:?body=Schau dir https://www.überwachungspaket.at an!">
                            <div class="center">
                                <span class="fa-stack fa-1x">
                                    <i class="fa fa-comment fa-stack-1x"></i>
                                    <strong class="fa fa-stack-1x sms-text">sms</strong>
                                </span>
                            </div>
                        </a>
                        <a class="share center" href="https://telegram.me/share/url?url=https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F&amp;text=Schau%20dir%20das%20an%21">
                            <div class="center"><i class="fa fa-telegram"></i></div>
                        </a>
                        <a class="share share-mobile center" href="whatsapp://send?text=Schau%20dir%20das%20an%21%20https%3A%2F%2F%C3%BCberwachungspaket%2Eat%2F" data-action="share/whatsapp/share">
                            <div class="center"><i class="fa fa-whatsapp"></i></div>
                        </a>
                        <a class="share center" href="http://www.reddit.com/submit?url=https%3A%2F%2Fwww.%C3%BCberwachungspaket.at&amp;title=Stoppt%20das%20%C3%9Cberwachungspaket%21&amp;resubmit=true">
                            <div class="center"><i class="fa fa-reddit-alien"></i> </div>
                        </a>
                    </div>
                </div>
                <div class="column">
                    <h4>Komm zu einem unserer Termine</h4>
                    <p>Dort kannst du dich informieren, mit anderen kritischen Menschen diskutieren und diese Kampagne aktiv mitgestalten. Vernetzungstreffen gibt es in jedem Bundesland.</p>
                    <a class="btn btn-back top" href="https://epicenter.works/kalender">Termine</a>
                </div>
                <div class="column">
                    <h4>Spenden</h4>
                    <p>Als unabhängige, gemeinnützige Bürgerrechtsorganisation ist epicenter.works auf finanzielle Unterstützung angewiesen. Individuelle Spenden aus der Zivilgesellschaft ermöglichen unsere Arbeit für die Verteidigung der Grund- und Freiheitsrechte im digitalen Zeitalter. Mit eurer Hilfe werden wir alles unternehmen, damit falsch verstandene Sicherheitspolitik in Österreich nicht die Freiheit aller Menschen einschränkt.</p>
                    <a class="btn btn-default bottom" href="https://spenden.epicenter.works/">Jetzt spenden</a>
                </div>
                <div class="column">
                    <h4>Abonnieren</h4>
                    <p>epicenter.works hält Interessierte immer auf dem neuesten Stand. Wenn du über Neuigkeiten zu digitalen Bürgerrechten Bescheid wissen und über das Überwachungspaket am Laufenden bleiben möchtest, kannst du dich hier für den Newsletter eintragen.</p>
                    <form class="row bottom" action="https://lists.akvorrat.at/subscribe/vds-info" method="post">
                        <input name="email" placeholder="E-Mail" type="email" class="stick" />
                        <button class="btn btn-back stick">Abonnieren</button>
                    </form>
                </div>
                <div class="column">
                    <h4>Mitmachen</h4>
                    <p>Im Einsatz gegen Überwachung brauchen wir immer wieder helfende Hände und kreative Köpfe, die sich bei unseren Projekten und Aktionen einbringen.</p>
                    <a class="btn btn-back bottom" href="https://epicenter.works/mitmachen">Mitmachen</a>
                </div>
                <div class="column">
                    <h4>Bilder teilen</h4>
                    <p>Wir bereiten unsere Kritik am Überwachungspaket auch grafisch auf. Nutze diese Bilder, um sie über Social Media zu verbreiten und mache andere Menschen auf unsere Anliegen aufmerksam.</p>
                    <a class="btn btn-back bottom" href="https://www.flickr.com/photos/akvorrat_at/albums/72157680554719305">Download</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
